<% provide(:title, 'Home') %>
<section class="wrapper homepage">

<!-- if/else for user sign-in/sign-up homepage states -->
	<div class="row">
  		<div class="col6">

<!-- if user is not signed in -->
	<% if current_user.blank? %>

			<article class="row">

				<p>Slinggit is a fast and carefree way to connect with buyers and sellers in your Twitter and Facebook networks.</p> 

				<p>Slinggit to your network of trusted friends and family on Facebook.  Slinggit to the world on  Twitter.  Slinggit to both.  It’s fun and easy and we’re sure you’ll love it.  Enjoy!</p>

				<%= image_tag "heroimages/hero_phoneDiagram_960x524.jpg", width: "100%", height: "auto", title: "Slinggit Logo blue", alt: "Slinggit Logo", class: "col6" %>
			</article>
			
			<aside class="row">
				<% if invite_only? %>
					<!-- if invites are active -->
					<%= link_to "Request Invitation", {:controller => :users, :action => :request_invitation}, class: "col2 offset2 btn_darkGrey" %>
				<% else %>
					<!-- if invites are NOT active -->
					<%= link_to "Sign up now!", signup_path, class: "col2 offset2 btn_blue" %>
				<% end %>
			</aside>
			
<!-- end user not signed in if/else -->


<!-- if user is signed in -->
	<% elsif not current_user.blank? %>
		<div class="row">
			<div class="col4 pull_left white_well">
				<div class="row">
					<p class="col3 pull_left">Welcome back <strong><%= current_user.name %></strong!</p>
					<div class="col6">
						<div class="row">
							<%= link_to "Slinggit", new_post_path, class: "col3 pull_left btn_green" %>
						</div>
					</div>
				</div>
			</div>
			
<!-- render user_info partial -->
			<%= render 'shared/user_info' %>
		</div>
<!-- end the user is signed in if/else -->
	<% end %>
	
	
<!-- end the homepage sign-in/sign-up if/else -->
		</div> <!-- close col6 -->
	</div> <!-- close row -->	
	
	<!-- show latest slinggit post -->
	    <% if !@posts.blank? %>
	        <div class="row home_featurePost">
	            <div class="white_well col4 pull_left">
					<h1 class="row">Feature Post:</h1>
					<%= render @posts %>
				</div>
	        </div>
	    <% end %>
	<!-- end -->

<!-- // REMOVE THE TWITTER WIDGET FOR NOW -CC -->
<!-- <div class="row white_well wrapper_twitRoll">
  <div class="col6">
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script type="text/javascript">
        new TWTR.Widget({
            version:2,
            type:'profile',
            rpp:20,
            interval:30000,
            width:'auto',
            height:550,
            theme:{
                shell:{
                    background:'#f8f8f8',
                    color:'#777777'
                },
                tweets:{
                    background:'#f8f8f8',
                    color:'#777777',
                    links:'#488de2'
                }
            },
            features:{
                scrollbar:true,
                loop:false,
                live:true,
                behavior:'all'
            }
        }).render().setUser('slinggit').start();
    </script>
  </div>
</div> -->
</section>