<% provide(:title, 'Home') %>
<section class="wrapper homepage">

<!-- if user is not signed in -->
    <% if current_user.blank? %>

	    <div class="row white_well">	
			<div class="col6">

				<section class="homeNotSignedIn">
					
					<div class="col2 pull_right">
						<header class="row">
							<h1>Welcome to Slinggit.</h1>
						</header>
					
						<div class="row white_well">
							<p>The easiest way to connect with your social networks to git the things you want and sling the things you don&rsquo;t.</p>
							<div class="row">
							<% if invite_only? %>
								<!-- if invites are active -->
								<%= link_to "Request Invitation", {:controller => :users, :action => :request_invitation}, class: "col4 offset1 btn_darkGrey" %>
							<% else %>
								<!-- if invites are NOT active -->
								<%= link_to "Sign up now!", signup_path, class: "col4 offset1 btn_green" %>
							<% end %>
							</div>
						</div>

						<div class="app-link">
							<a href="http://itunes.apple.com/us/app/slinggit/id543458895?mt=8&uo=4" target="itunes_store">
								<img src="http://r.mzstatic.com/images/web/linkmaker/badge_appstore-lrg.gif" alt="Slinggit - Slinggit" style="border: 0;width:116px;height:40px"/>
							</a>
						</div>
					</div>
					
					<div class="col4 pull_left">
						<div class="row">
							<%= image_tag "heroimages/hero_phone_571x354.jpg", width: "100%", height: "auto", title: "Slinggit on your mobile device", alt: "Hero Phone 571x446" %>
						</div>
					</div> 

				</section>

			</div> <!-- close col6 -->
		</div> <!-- close row -->

<!-- if user is signed in -->
	<% elsif not current_user.blank? %>

		<section class="secondary">
    		<div class="secondary_inner">

    			<%= render 'shared/user_info' %>

    		</div>

    		<div class="secondary_inner">

	    		<div class="row">
					<h1 class="headline bottom_border">Welcome back <%= current_user.name %>!</h1>
					<!-- <p class="pull_left headline"> Have something to Sling?</p> -->
				</div>
				<div class="row">
					<%= link_to "Create New Post", new_post_path, class: "col6 btn_green" %>
					<%= link_to "View My Posts", current_user, class: "col6 pull_right btn_ltGrey" %>
				</div>
				<div class="row wrong-user">
					<%= link_to signout_path, method: "delete", class: "pull_right" do %>
						<span>Not <%= current_user.name %>?</span> Sign Out.
					<% end %>
				</div>

    		</div>
    	</section>



    	<section class="main">

    		<% if !@posts.blank? %>
		        <article class="row home_featurePost">
		            <div  id="featuredPosts" class="col6">
						<h1 class="row">Recent Posts:</h1>
						<%= render @posts %>
					</div>
		        </article>
		    <% end %>

    	</section>


	<% end %>


</section>