<% provide(:title, 'Home') %>
<section class="wrapper homepage">

<!-- if/else for user sign-in/sign-up homepage states -->
	<div class="row">
		
		<span class="col1 pull_left">
			<%= image_tag "heroimages/slinggit_icons_326x634.png", width: "100%", height: "auto", title: "Slinggit icons", alt: "Icons representing Slinggit brand", id: "home_slinggitIcons" %>
		</span>
  		
		<div class="col5">
      <!-- if user is not signed in -->
      <% if current_user.blank? %>

			<article class="row">
				<div class="col6">
					<h2 class="row nixie nixie_bold">Welcome to Slinggit.</h2>
					<h3 class="row nixie">An easy way to connect with your social networks to git the things you want and sling the ones you don&rsquo;t.</h3>
				</div>
			</article>
			
			<aside class="row">
				<% if invite_only? %>
					<!-- if invites are active -->
					<%= link_to "Request Invitation", {:controller => :users, :action => :request_invitation}, class: "col2 offset2 btn_darkGrey" %>
				<% else %>
					<!-- if invites are NOT active -->
					<%= link_to "Sign up now!", signup_path, class: "col2 offset2 btn_blue" %>
				<% end %>
			</aside>
			
<!-- end user not signed in if/else -->
	

<!-- if user is signed in -->
	<% elsif not current_user.blank? %>
	<div class="row">
		
		<!-- USER INFO PARTIAL RENDERS AS .col2 -->
				<%= render 'shared/user_info' %>
		<!-- END PARTIAL -->
		
		<div class="col4 pull_left">
			<h2 class="row nixie">Welcome back <%= current_user.name %>!</h2>
			<p class="row nixie"> Have something to Sling?</p>
			<div class="row">
				<%= link_to "Slinggit", new_post_path, class: "col3 pull_left btn_green" %>
			</div>
		</div>
		
		</div>
<!-- end the user is signed in if/else -->
	<% end %>
	
	
<!-- end the homepage sign-in/sign-up if/else -->
		</div> <!-- close col6 -->
	</div> <!-- close row -->	
	
	<!-- show latest slinggit post -->
	    <% if !@posts.blank? %>
	        <div class="row home_featurePost">
	            <div class="white_well col4 offset1 pull_left">
					<h1 class="row">Recent Items:</h1>
					<%= render @posts %>
				</div>
	        </div>
	    <% end %>
  <!-- end -->
</section>