<% provide(:title, 'Home') %>
<section class="wrapper">
	<div class="row white_well">
  		<div class="col6">
            <div class="row"><%= render @post %></div>
    		<% if current_user.blank? %>
        		<p class="row">Looking for something? Want to sell something? Slinggit.</p>
				<!-- wrap the greeting/button in a row -->
				<div class="row">
        			<% if invite_only? %>
            			<%= link_to "Request Invitation", {:controller => :users, :action => :request_invitation}, class: "col2 offset2 btn_darkGrey" %>
        			<% else %>
            			<%= link_to "Sign up now!", signup_path, class: " col2 offset2 btn_blue" %>
        			<% end %>
				</div>
				<!-- end row -->
    			<% elsif not current_user.blank? %>
        			<p class="row">Welcome back <%= current_user.name %>!</p>
        			<p class="row">Got some old junk laying around?</p>
					<div class="row">
						<%= link_to "Slinggit", new_post_path, class: "col2 offset2 btn_green" %>
					</div>
    		<% end %>
		</div>
  </div>

<!-- // REMOVE THE TWITTER WIDGET FOR NOW -CC -->
<div class="row white_well wrapper_twitRoll">
  <div class="col6">
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script type="text/javascript">
        new TWTR.Widget({
            version:2,
            type:'profile',
            rpp:20,
            interval:30000,
            width:'auto',
            height:550,
            theme:{
                shell:{
                    background:'#f8f8f8',
                    color:'#777777'
                },
                tweets:{
                    background:'#f8f8f8',
                    color:'#777777',
                    links:'#488de2'
                }
            },
            features:{
                scrollbar:true,
                loop:false,
                live:true,
                behavior:'all'
            }
        }).render().setUser('slinggit').start();
    </script>
  </div>
</div>
</section>