<%= link_to :action => :show, :id => message.id_hash do %>
    <div class="row <%= message.status == STATUS_UNREAD ? 'white_well' : 'grey_well' %>">
      <p class="col4 pull_left <%= message.status == STATUS_UNREAD ? 'messageUnread' : 'messageRead' %>">
        <%= check_box_tag :edit, 1, false, :class => 'col1 pull_left' %>
        #<%= message.source_object.hashtag_prefix %> -
        <%= message.body.to_ellipsis(30) %>
      </p>
      <small class="col1 timestamp pull_right"><%= time_ago_in_words(message.created_at) %> ago.</small>
    </div>
<% end %>

