<% provide(:title, "New Message") %>
<div class="wrapper messages">
  <article>

    <div id="userPosts" class="col4 pull_left postArticle white_well">
      <div id="postArticlesWrapper">
        <% if not @post.blank? %>
            <%= render @post %>
        <% end %>
      </div>
    </div>

    <%= form_for(@message) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <% if not signed_in? %>
            <div class="row">
              <div class="col4 pull_left">
                <%= f.label :contact_info_json, "Email", for: "message_contact_info_json", class: "row bottom_border" %>
                <%= f.text_field :contact_info_json, :value => @email_entered, :type => :email, :placeholder => "Email Address" %>
              </div>
            </div>
        <% end %>
        <div class="row">
			<%= f.label :body, "Message", for: "message_body", class: "col4 pull_left bottom_border" %>
          <div class="col4 pull_left">
				<%= f.text_area :body, "maxLength" => 1000, :value => @message_entered, :counterMax => 1000, :class => "row" %>
          </div>
        </div>

            <%= f.button 'Send Message', class: "btn_green col2 pull_left", :type => 'submit' %>

    <% end %>
  </article>
</div>