<% provide(:title, "New Message") %>
<div class="wrapper messages">
  <article>
    <% if @message_post %>
        <div class="row">
          <div class="col1 pull_left">
            <p><%= label_tag :location, 'Location:' %></p>
          </div>
          <div class="col1 pull_left">
            <p><%= label_tag :location_value, @message_post.location %></p>
          </div>
        </div>
        <div class="row">
          <div class="col1 pull_left">
            <p><%= label_tag :price, 'Price:' %></p>
          </div>
          <div class="col1 pull_left">
            <p><%= label_tag :price_value, '$' + @message_post.price.to_s %></p>
          </div>
        </div>
        <div class="row">
          <div class="col1 pull_left">
            <p><%= label_tag :status, 'Status:' %></p>
          </div>
          <div class="col1 pull_left">
            <p><%= label_tag :status_value, @message_post.open ? 'Open' : 'Closed' %></p>
          </div>
        </div>
        <div class="row">
          <div class="col1 pull_left">
            <p><%= label_tag :description, 'Description:' %></p>
          </div>
          <div class="col1 pull_left">
            <p><%= label_tag :description_value, @message_post.content %></p>
          </div>
        </div>
        <br/>
    <% end %>
    <%= form_for(@message) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <% if not signed_in? %>
            <div class="row">
              <div class="col6 pull_left">
                <%= f.label :contact_info_json, "Email", for: "message_contact_info_json", class: "col6" %>
                <br/>
                <%= f.text_field :contact_info_json, :value => @email_entered, :type => :email, :placeholder => "Email Address" %>
              </div>
            </div>
            <br/>
        <% end %>
        <div class="row">
          <div class="col6 pull_left">
            <%= f.label :body, "Message", for: "messag_body", class: "col6" %>
            <br/>
            <%= f.text_area :body, "maxLength" => 1000, :value => @message_entered %>
          </div>
        </div>
        <br/>
        <%= submit_tag 'Send Message', class: "btn btn_green" do %>
            <%= f.submit 'Send Message', class: "btn btn_green" %>
        <% end %>
    <% end %>
  </article>
</div>