<% provide(:title, "Sign in") %>

<section class="wrapper page_col singleWide">
  <header>
    <h1>Sign in</h1>
    <p>Sign in</p>
  </header>

  <%= form_for(:session, url: sessions_path) do |f| %>
		<fieldset class="form_fieldHalf">
    	<%= f.label :email, for: "session_email" %>
      <%= f.email_field :email, class: "form-singleLine", :value => @email %>
		</fieldset>
			
		<fieldset class="form_fieldHalf">
    	<%= f.label :password, for: "session_password" %>
      <%= f.password_field :password, class: "form-singleLine" %>
		</fieldset>
		
		<p><%= link_to "Forgot your password?", {:controller => :users, :action => :password_reset}, :id => 'forgot_password' %></p>
    <%= f.button "Sign in", class: "btn_large" %>
  <% end %>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</section>
