<% provide(:title, "Sign in") %>

<section id="newSessionWrapper" class="wrapper">

  <header class="row">
    <h1 class="bottom_border">Sign in</h1>
  </header>

  <div class ="row">
  	<div class="col3 white_well">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <fieldset class="row">
          <%= f.label :email, for: "session_email", class: "col6" %>
          <%= f.email_field :email, class: "col6", :value => @email || params[:email], placeholder: "Email" %>
        </fieldset>

        <fieldset class="row">
          <%= f.label :password, for: "session_password", class: "col6" %>
          <%= f.password_field :password, class: "col6", placeholder: "Password" %>
        </fieldset>

        <fieldset class="row">
          <%= f.button "Sign in", class: "col3 btn_green pull_left" %>
          <%= link_to "Forgot your password?", {:controller => :users, :action => :password_reset}, class: "col3 pull_right", :id => 'forgot_password' %>
        </fieldset>

    	<% end %>
  	</div>
  </div>

  <div id="orSignupActions" class="row">
    <p>New Users <%= link_to "Sign Up", signup_path %></p>
  </div>

</section>

<script type="text/javascript">
    $(document).ready(function () {
        <% if not params[:email].blank? %>
        $('#session_password').focus();
        <% end %>
    });
</script>
