<!-- I know this is bad but I always put my css in the file until Im finished then I move it for quick editing -->
<style type="text/css">
    .apiInformationColumn {
        float: left;
        font-size: 15px;
        padding-bottom: 50px;
        padding-left: 90px;
    }

    .apiHeaderColumn {
        padding-left: 5%;
        width: 14%;
        float: left;
        text-emphasis: #40e0d0;
        border-style: none;
    }

    .footer {
        padding-top: 120px;
    }

</style>
<% provide(:title, 'Twitter Accounts') %>
<h2>Manage Your Twitter Accounts</h2>
<header>
  <legend class="apiHeaderColumn">Source</legend>
  <legend class="apiHeaderColumn">Account Name</legend>
  <legend class="apiHeaderColumn">Description</legend>
  <legend class="apiHeaderColumn">Status</legend>
  <legend class="apiHeaderColumn">Actions</legend>
</header>
<article>
  <div>
    <% if not @api_accounts.blank? %>
        <% @api_accounts.each do |api_account| %>
            <div class="apiInformationColumn"><%= api_account.api_source %></div>
            <div class="apiInformationColumn"><%= api_account.user_name %></div>
            <div class="apiInformationColumn"><%= api_account.description %></div>
            <div class="apiInformationColumn"><%= api_account.status %></div>
            <div class="apiInformationColumn"><%= link_to "delete", nil, :id => "apiAccountDelete_#{api_account.id}" %></div>
        <% end %>
    <% else %>
        You don't currently have any attached Twitter accounts.
    <% end %>
  </div>
</article>

<div class="form-actions">
  <% if @api_accounts.blank? %>
      <%= link_to "Add Twitter Account", new_twittersession_path, class: "btn btn-medium btn-info" %>
  <% else %>
      <%= link_to "Add Another Twitter Account", new_twittersession_path, class: "btn btn-medium btn-info" %>
  <% end %>
</div>

<script type="text/javascript">

</script>