<!-- I know this is bad but I always put my css in the file until Im finished then I move it for quick editing -->
<style type="text/css">
    .apiInformationColumn {
        float: left;
        font-size: 14px;
        padding-bottom: 20px;
        padding-left: 90px;
    }

    .apiInformationActions {
        float: left;
        font-size: 14px;
        padding-bottom: 20px;
        padding-left: 90px;
    }

    .apiHeaderColumn {
        padding-left: 5%;
        width: 14%;
        float: left;
        text-emphasis: #40e0d0;
        border-style: none;
    }

    .footer {
        padding-top: 120px;
    }

    table thead th, #account-actions{
        white-space: nowrap;
    }

    /*
    #addTwitterbutton {
        margin-top: 80px;
        position: relative;
    }
    */

</style>
<% provide(:title, 'Twitter Accounts') %>
<h2>CHASE HELP ME WITH THIS PAGE ITS DRIVING ME BONKERS</h2>
<h2>Manage Your Twitter Accounts</h2>

<table class="table table-striped">
    <thead>
        <th>Source</th>
        <th>Account Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Actions</th>
    </thead>    
    <tbody>
        <% if not @api_accounts.blank? %>
            <% @api_accounts.each do |api_account| %>
            <td id="twitterAccountSource_<%= api_account.id.to_s %>"><%= api_account.api_source %></td>
            <td id="twitterAccountUserName_<%= api_account.id.to_s %>"><%= api_account.user_name %></td>
            <td id="twitterAccountDescription_<%= api_account.id.to_s %>"><%= api_account.description %></td>
            <td id="twitterAccountStatus_<%= api_account.id.to_s %>"><%= api_account.status %></td>
            <td id="account-actions">
              <%= link_to api_account.status == 'primary' ? "" : "set primary", nil, :id => "apiAccountPrimary_#{api_account.id}" %>
              <span> | </span>
              <%= link_to "delete", nil, :id => "apiAccountDelete_#{api_account.id}" %>
            </td>
            <% end %>
        <% end %>
    </tbody>
</table>

<!-- <header>
  <legend class="apiHeaderColumn">Source</legend>
  <legend class="apiHeaderColumn">Account Name</legend>
  <legend class="apiHeaderColumn">Description</legend>
  <legend class="apiHeaderColumn">Status</legend>
  <legend class="apiHeaderColumn">Actions</legend>
</header>
<article>
  <div>
    <% if not @api_accounts.blank? %>
        <% @api_accounts.each do |api_account| %>
            <div class="apiInformationColumn" id="twitterAccountSource_<%= api_account.id.to_s %>"><%= api_account.api_source %></div>
            <div class="apiInformationColumn" id="twitterAccountUserName_<%= api_account.id.to_s %>"><%= api_account.user_name %></div>
            <div class="apiInformationColumn" id="twitterAccountDescription_<%= api_account.id.to_s %>"><%= api_account.description %></div>
            <div class="apiInformationColumn" id="twitterAccountStatus_<%= api_account.id.to_s %>"><%= api_account.status %></div>
            <div class="apiInformationActions">
              <%= link_to api_account.status == 'primary' ? "" : "[set primary]", nil, :id => "apiAccountPrimary_#{api_account.id}" %>
              <%= link_to "[delete]", nil, :id => "apiAccountDelete_#{api_account.id}" %>
            </div>

        <% end %>
    <% else %>
        You don't currently have any attached Twitter accounts.
    <% end %>
  </div>
</article> -->

<div class="form-actions">
  <% if @api_accounts.blank? %>
      <%= link_to "Add Twitter Account", new_twittersession_path, class: "btn btn-medium btn-info", :id => 'addTwitterbutton' %>
  <% else %>
      <%= link_to "Add Another Twitter Account", new_twittersession_path, class: "btn btn-medium btn-info", :id => 'addTwitterbutton' %>
  <% end %>
</div>

<!-- CMK  I'm going to refactor this into a Backbone View -->
<script type="text/javascript">
    $("[id^=apiAccountPrimary_]").each(function (key) {
        $('#' + this.id).click(function (e) {
            var clickedTarge = e.target;
            e.preventDefault();
            $.ajax({
                type:"POST",
                url:"<%= url_for :controller => :networks, :action => :set_primary_account %>",
                data:{api_account_id:this.id}
            }).done(function (response) {
                        if (response != "error") {
                            new_old = response.split("_")
                            $('#apiAccountPrimary_' + new_old[0]).hide();
                            $('#twitterAccountStatus_' + new_old[0]).text('primary')

                            $('#apiAccountPrimary_' + new_old[1]).show();
                            $('#twitterAccountStatus_' + new_old[1]).text('active')
                        }
                    });
        })
    })
</script>