<% provide(:title, 'Twitter Accounts') %>
<section class="wrapper accounts">
	<header>
		<h1>Manage Your Twitter Accounts</h1>
		<p>Manage Your Twitter Accounts</p>
	</header>
	
	<article>
		<ul>
			<li>Source</li>
			<% if not @api_accounts.blank? %>
		      <% @api_accounts.each do |api_account| %>
				<li id="twitterAccountSource_<%= api_account.id.to_s %>"><%= api_account.api_source %></li>
			  <% end %>
			<% end %>
		</ul>
		
		<ul>
			<li>Account Name</li>
			<% if not @api_accounts.blank? %>
		    	<% @api_accounts.each do |api_account| %>
			<li id="twitterAccountUserName_<%= api_account.id.to_s %>"><%= api_account.user_name %></li>
				<% end %>
			<% end %>
		</ul>
		
		<ul>
			<li>Description</li>
			<% if not @api_accounts.blank? %>
		      <% @api_accounts.each do |api_account| %>
			<li id="twitterAccountUserName_<%= api_account.id.to_s %>"><%= api_account.user_name %></li>
			<% end %>
			<% end %>
		</ul>
		
		<ul>
			<li>Status</li>
			<% if not @api_accounts.blank? %>
		      <% @api_accounts.each do |api_account| %>
			<li id="twitterAccountStatus_<%= api_account.id.to_s %>"><%= api_account.status %></li>
			<% end %>
			<% end %>
		</ul>
		
		<ul>
			<li>Authorized</li>
			<% if not @api_accounts.blank? %>
		      <% @api_accounts.each do |api_account| %>
			<li id="twitterAccountReauth_<%= api_account.id.to_s %>"><%= api_account.reauth_required == 'yes' ? "No" : "Yes" %></li>
			<% end %>
			<% end %>
		</ul>
		<ul>
			<li>Actions</li>
			<% if not @api_accounts.blank? %>
		      <% @api_accounts.each do |api_account| %>
			<li id="account-actions"><%= link_to "set primary", nil, :id => "apiAccountPrimary_#{api_account.id}" %>
              <span id="spanSeperator_<%= api_account.id.to_s %>"> <%= api_account.status == 'active' ? '|' : '' %>  </span>
              <%= link_to "delete", nil, :id => "apiAccountDelete_#{api_account.id}" %></li>
			<% end %>
			<% end %>
		</ul>

</article>

<div class="form-actions">
  <% if @api_accounts.blank? %>
      <%= link_to "Add Twitter Account", url_for(:controller => :networks, :action => :add_api_account), class: "btn btn-medium btn-info", :id => 'addTwitterbutton' %>
  <% else %>
      <%= link_to "Add Another Twitter Account", url_for(:controller => :networks, :action => :add_api_account), class: "btn btn-medium btn-info", :id => 'addTwitterbutton' %>
  <% end %>
</div>

<!-- CMK  I'm going to refactor this into a Backbone View -->
<script type="text/javascript">
    $(document).ready(function () {

        <% @api_accounts.each do |api_account| %>
        <% if api_account.status == 'primary'%>
        $('#apiAccountPrimary_' + <%= api_account.id %>).hide();
        <% end %>
        <% end %>

        $("[id^=apiAccountPrimary_]").each(function (key) {
            $('#' + this.id).click(function (e) {
                var clickedTarge = e.target;
                e.preventDefault();
                $.ajax({
                    type:"POST",
                    url:"<%= url_for :controller => :networks, :action => :set_primary_account %>",
                    data:{api_account_id:this.id}
                }).done(function (response) {
                            if (response != "error") {
                                new_old = response.split("_")
                                $('#apiAccountPrimary_' + new_old[0]).hide();
                                $('#spanSeperator_' + new_old[0]).hide();
                                $('#twitterAccountStatus_' + new_old[0]).text('primary')

                                $('#apiAccountPrimary_' + new_old[1]).show();
                                $('#spanSeperator_' + new_old[1]).show();
                                $('#twitterAccountStatus_' + new_old[1]).text('active')
                            }
                        });
            })
        })
    });
</script>
