<% provide(:title, "Edit user") %>
<section class="wrapper">
	
	<header class="row">
		<h1>Update your profile</h1>
		<p>Update your profile</p>
	</header>
	
	<% if @user.status != "suspended" %>
	
		<article class="col4 pull_left">
			
		<%= form_for @user do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<legend class="row">User Info</legend>

				<fieldset class="row">
					<%= f.label :name, class: "col6 control-label", for: "user_name" %>
	                <%= f.text_field :name, class: "col3 form_singleLine" %>
	            </fieldset>

	            <fieldset class="row">
					<%= f.label :email, class: "col6 control-label", for: "user_email" %>
					<%= f.text_field :email, class: "col3 form_singleLine" %>
				</fieldset>

	            <fieldset class="row">
					<%= f.label :password, class: "col6 control-label", for: "user_password" %>
					<%= f.password_field :password, class: "col3 form_singleLine" %>
	            </fieldset>

	            <fieldset class="row">
					<%= f.label :password_confirmation, "Confirm Password", class: "col6 control-label", for: "user_password_confirmation" %>
					<%= f.password_field :password_confirmation, class: "col3 form_singleLine" %>
	            </fieldset>

	            <% if !session['access_secret'].nil? && !session['access_token'].nil? %>
					<%= f.hidden_field :twitter_atoken, value: session['access_token'] %>
					<%= f.hidden_field :twitter_asecret, value: session['access_secret'] %>
	            <% end %>

	              <%= f.submit "Save changes", class: "btn_medium" %>
		<% end %>
		</article>
	<% else %>

		<div class="row notice">
        	You are currently in time out.  As a result of this, you cannot edit your profile.
      	</div>  

	<% end %>

	<article class="col2 pull_right">
		<p class="row">Gravatar</p>
        <div class="row thumbnail">
          <%= gravatar_for @user %>
          <p class="row"><a href="https://gravatar.com/emails" target="_blank">change</a></p>
        </div>
        <a href="<%= url_for :controller => :users, :action => :delete_account %>">Delete Account</a>
    </article>
</section>
