<% provide(:title, "Create Password") %>

<section class="wrapper page_col singleWide">
  <%= render 'shared/error_messages', object: @user %>
  <header>
    <h1>Create a New Password</h1>
    <p>Create a New Password</p>
  </header>

  <%= form_tag('/users/enter_new_password') do |f| %>
      <fieldset>
        <%= password_field_tag :password, nil, :placeholder => 'Password', class: "input-xlarge" %>
        <%= password_field_tag :password_confirmation, nil, :placeholder => 'Confirm Password', class: "input-xlarge" %>
        <%= hidden_field_tag :id, params[:id]%>
      </fieldset>
      <div>
        <%= submit_tag "Update", class: "btn_large" %>
      </div>
  <% end %>

</section>
