<%= provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <span id="emailAvailabilityNotification"></span>
        <%= render 'shared/error_messages', object: f.object %>

        <fieldset>
          <legend id='profileCreateHeader'>
            Create your profile
          </legend>
          <div class="clearfix-placeholder"></div>
          <div id="signUpInitialFields">
            <div class="control-group">
              <%= f.label :name, "User Name", class: "control-label", for: "user_name" %>
              <div class="controls">
                <%= f.text_field :name, class: "input-xlarge" %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :email, class: "control-label", for: "user_email" %>
              <div class="controls">
                <%= f.text_field :email, class: "input-xlarge" %>
              </div>
            </div>

            <div class="form-actions" id="form_signUpActions">
              <%= f.submit "Authenticate with Twitter", class: "btn btn-medium btn-info", onclick: "javascript:void(0)", id: 'twitterBTN' %>
              <%= f.submit "no twitter account", class: "btn", onclick: "javascript:void(0)", id: 'noThanksBTN' %>
              <%= hidden_field_tag :twitter_authenticate, nil %>
            </div>
          </div>

          <div id=signUpPasswordFields>
            <div class="control-group">
              <%= f.label :password, "Slinggit Password", class: "control-label", for: "user_password" %>
              <div class="controls">
                <%= f.password_field :password, class: "input-xlarge" %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :password_confirmation, "Confirmation", class: "control-label", for: "user_password_confirmation" %>
              <div class="controls">
                <%= f.password_field :password_confirmation, class: "input-xlarge" %>
              </div>
            </div>

            <%= f.submit "Create my account", class: "btn btn-medium btn-info" %>
            <%= link_to 'start over', nil, :onclick => "javascript:void(0)", :id => 'signUpStartOverLink' %>

          </div>

        </fieldset>

    <% end %>
  </div>
</div>

<script>
    $(document).ready(function () {
        $('#user_name').keyup(hideErrorsAndNotifications);
        $('#user_email').keyup(hideErrorsAndNotifications);
        $('#user_password').keyup(hideErrorsAndNotifications);
        $('#user_password_confirmation').keyup(hideErrorsAndNotifications);

        $('#user_email').keyup(function () {
            email_address = $('#user_email').val();
            var emailRegex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (emailRegex.test(email_address)) {
                $.ajax({
                    type:"POST",
                    url:"<%= url_for :controller => :users, :action => :verify_email_availability %>",
                    data:{email:email_address}
                }).done(function (response) {
                            if (response == 'unavailable') {
                                $('#user_email')
                                $('#emailAvailabilityNotification').html('<div id="error_explanation"><ul><li>* That email has already been registered.  <a href="#">forgot password?</a></li></ul></div>')
                                $('#emailAvailabilityNotification').show();
                            } else {
                                $('#emailAvailabilityNotification').html('');
                                $('#emailAvailabilityNotification').hide();
                            }
                        });
            }
        });


        $('#signUpPasswordFields').hide();
        $('#form_signUpActions').show();
        $('#emailAvailabilityNotification').hide();


        <% if session[:twitter_permission_granted] %>
        $('#signUpPasswordFields').show();
        $('#form_signUpActions').hide();
        $('#profileCreateHeader').html('You are authenticated with Twitter');
        <% elsif session[:no_thanks]%>
        $('#signUpPasswordFields').show();
        $('#form_signUpActions').hide();
        <% end %>

        $('#noThanksBTN').click(function (e) {
            e.preventDefault();
            $('#form_signUpActions').hide();
            $('#signUpPasswordFields').show();
            hideErrorsAndNotifications();
            $.ajax({
                url:"<%= url_for :controller => :users, :action => :set_no_thanks %>"
            })
        })

        $('#twitterBTN').click(function (e) {
            e.preventDefault();
            $('#twitter_authenticate').val(true)
            $('form').submit();
        });

        $('#signUpStartOverLink').click(function (e) {
            e.preventDefault();
            $('#signUpPasswordFields').hide();
            $('#form_signUpActions').show();
            $('#user_name').val('');
            $('#user_email').val('');
            $('#profileCreateHeader').html('Create your profile');
            hideErrorsAndNotifications();
            $.ajax({
                url:"<%= url_for :controller => :users, :action => :reset_page_session %>"
            })
        });
    });

    function hideErrorsAndNotifications() {
        $('#error_explanation').hide();
        $('.field_with_errors').removeClass('field_with_errors')
        $('.alert').hide();
        $("html, body").animate({ scrollTop:0 }, "fast");
    }

</script>