<%= provide(:title, 'Sign up') %>

<section class="wrapper page_col singleWide">
	<header>
		<h1>Sign up</h1>
		<p>Sign Up</p>
	</header>
  
	<%= form_for(@user) do |f| %>
  	<span id="emailAvailabilityNotification"></span>
  	<span id="usernameAvailabilityNotification"></span>
    <%= render 'shared/error_messages', object: f.object %>
    
		<fieldset class="page_col twoCol" id="signUpIntialFields">
    	<legend>Create your profile</legend>
      <%= f.label :name, "Username", class: "control-label", for: "user_name" %>
      <%= f.text_field :name, placeholder: "Username", class: "form_singleLine" %>
        
			<%= f.label :email, class: "control-label", for: "user_email" %>
			<%= f.email_field :email, placeholder: "Email", class: "form_singleLine" %>
		</fieldset>
      
  	<fieldset class="form-actions" id="form_signUpActions">
    	<%= f.button "Authenticate with Twitter", type: "button", class: "btn_medium", onclick: "javascript:void(0)", id: 'twitterBTN' %>
        <%= f.button "No Twitter Account", type: "button", class: "btn_small", onclick: "javascript:void(0)", id: 'noThanksBTN' %>
        <%= hidden_field_tag :twitter_authenticate, nil %>
		</fieldset>

		<fieldset class="form_hiddenFields page_col twoCol">
			<%= f.label :password, "Slinggit Password", class: "control-label", for: "user_password" %>
			<%= f.password_field :password, placeholder: "Password", class: "form_singleLine" %>
        
			<%= f.label :password_confirmation, "Confirmation", class: "control-label", for: "user_password_confirmation" %>
			<%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form_singleLine" %>

			<%= f.button "Create my account", class: "btn_large" %>
			<%= link_to 'start over', nil, :onclick => "javascript:void(0)", :id => 'signUpStartOverLink' %>
		</fieldset>
		
	<% end %>
</section>

<style type="text/css">
    #emailSuggestion {
        float: right;
        position: inherit;
    }
</style>

<script>
    $(document).ready(function () {
        window.emailValidationView(
            "<%= url_for :controller => :users, :action => :verify_email_availability %>"
          , "<%= url_for :controller => :users, :action => :verify_username_availability %>"
          , "<%= url_for :controller => :users, :action => :reset_page_session %>"
          , "<%= url_for :controller => :users, :action => :set_no_thanks %>"
          , "<%= session[:twitter_permission_granted] %>"
          , "<%= session[:no_thanks]%>"
        )
    });

</script>