<script>
    $(document).ready(function () {
        $('#signupPasswordFields').hide();

        $('#nothanksBTN').click(function (e) {
            e.preventDefault();
            $('#form_signUpActions').hide();
            $('#signupPasswordFields').show();
        })

        $('#twitterBTN').click(function (e) {
            e.preventDefault();
            $('#twitter_authenticate').val(true)
            $('form').submit();
        });
    });
</script>

<%= provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <fieldset>
          <legend>
            Create your profile
          </legend>
          <div class="clearfix-placeholder"></div>
          <div class="control-group">
            <%= f.label :name, class: "control-label", for: "user_name" %>
            <div class="controls">
              <%= f.text_field :name, class: "input-xlarge" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :email, class: "control-label", for: "user_email" %>
            <div class="controls">
              <%= f.text_field :email, class: "input-xlarge" %>
            </div>

            <div class="form-actions" id="form_signUpActions">
              <%= f.submit "Authenticate with Twitter", class: "btn btn-medium btn-info", onclick: "javascript:void(0)", id: 'twitterBTN' %>
              <%= f.submit "no thanks", class: "btn", onclick: "javascript:void(0)", id: 'nothanksBTN' %>
              <%= hidden_field_tag :twitter_authenticate, nil %>
            </div>
          </div>

          <div id=signupPasswordFields>
            <div class="control-group">
              <%= f.label :password, class: "control-label", for: "user_password" %>
              <div class="controls">
                <%= f.password_field :password, class: "input-xlarge" %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :password_confirmation, "Confirmation", class: "control-label", for: "user_password_confirmation" %>
              <div class="controls">
                <%= f.password_field :password_confirmation, class: "input-xlarge" %>
              </div>
            </div>

            <%= f.submit "Create my account", class: "btn btn-medium btn-info" %>

          </div>

        </fieldset>

    <% end %>
  </div>
</div>