<%= provide(:title, 'Sign up') %>
<section class="wrapper wrapper_newUser">
	<header class="row">
		<h1 class="bottom_border">Sign up</h1>
	</header>

<div class="col3 white_well">
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		
<!-- user name -->
    <div class="row">
		<fieldset class="col6">
			<%= f.label :name, "Username", for: "user_name", class: "row" %>
			<%= f.text_field :name, placeholder: "Username", class: "row" %>
		</fieldset>
		<div class="col6" id="usernameAvailabilityNotification"></div>
	</div>
<!-- end -->

<!-- email -->
	<div class="row">
		<fieldset class="col6">
			<%= f.label :email, for: "user_email", class: "row" %>
			<%= f.email_field :email, placeholder: "Email", class: "row" %>
		</fieldset>
		<div class="col6" id="emailAvailabilityNotification"></div>
	</div>
<!-- end -->

<!-- authenticate buttons -->
	<div class="row">
		<fieldset class="col6 form-actions" id="form_signUpActions">
			<%= link_to("#", :class => "col3 pull_left btn_twitter", :onclick => "javascript:void(0)", :id => "twitterBTN") do %>
				<span class="twitIconSmall"></span>
				Sign Up with Twitter
			<% end %>
	
			<%= f.button "No Twitter", type: "button", class: "col2 pull_right btn_green", onclick: "javascript:void(0)", id: 'noThanksBTN' %>
			<%= hidden_field_tag :twitter_authenticate, nil %>
		</fieldset>
	</div>
<!-- end -->

<!-- password field -->
<div class="row">
	<fieldset class="col6 form_hiddenFields">
		<%= f.label :password, "Slinggit Password", for: "user_password", class: "row" %>
		<%= f.password_field :password, placeholder: "Password", class: "row" %>
	</fieldset>
</div>
<!-- end -->

<!-- password confirm -->
<div class="row">
	<fieldset class="col6 form_hiddenFields">
		<%= f.label :password_confirmation, "Confirm Password", for: "user_password_confirmation", class: "row" %>
		<%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "row" %>
	</fieldset>
</div>
<!-- end -->

<!-- submit -->
<div class="row">
	<fieldset class="col6 form_hiddenFields">
		<%= f.button "Create my account", class: "col3 pull_left btn_green" %>
		<%= link_to 'start over', nil, :onclick => "javascript:void(0)", class: "col2 pull_right", :id => 'signUpStartOverLink' %>
	</fieldset>
</div>
<!-- end -->
	<% end %>
</div>
</section>

<script>
    $(document).ready(function () {
        window.emailValidationView(
            "<%= url_for :controller => :users, :action => :verify_email_availability %>"
          , "<%= url_for :controller => :users, :action => :verify_username_availability %>"
          , "<%= url_for :controller => :users, :action => :reset_page_session %>"
          , "<%= url_for :controller => :users, :action => :set_no_thanks %>"
          , "<%= session[:twitter_permission_granted] %>"
          , "<%= session[:no_thanks]%>"
        )
    });

</script>