<%= provide(:title, 'Request Invitation') %>

<section class="wrapper page_col singleWide">
  <header>
    <h1>Request Invitation</h1>

    <p>Request Invitation</p>
  </header>

  <%= form_tag do |f| %>
      <div class="row">
        <div class="col6">
          <%= label_tag :email, "Email", for: "invitation_email" %>
          <%= email_field_tag :email, @email, placeholder: "Email", class: "form_singleLine", size: "30" %>
        </div>
      </div>

      <div class="col6">
        <%= button_tag "Send Request", class: "btn", :type => 'submit' %>
      </div>
  <% end %>
</section>
