<% provide(:title, @user.name) %>
<section id="userPostsWrapper" class="wrapper">	

  <div class="col2 pull_right">

    <div class="row">
      <header>
        <h1><%= @user.name %></h1>
      </header>
      <%= gravatar_for @user %>
    </div>
    
    <% if is_signed_in_and_admin? && !current_user?(@user) %>
      <div class="row">
      <!-- ADMIN ONLY FUNCTIONALITY -->

        <%if !@user.is_considered_deleted? %>
          <%= link_to "Ban This User", {:controller => :admin, :action => :set_user_status, :id => @user.id, :status => "BAN"}, confirm: "Ban: You sure?" %>
        <% end %>  

        <%if !@user.is_suspended? %>
          <%= link_to "Suspend This User", {:controller => :admin, :action => :set_user_status, :id => @user.id, :status => "SUS"}, confirm: "Suspend: You sure?" %>
        <% end %>  

      </div>
    <% end %> 

  </div>

  <div id="userPosts" class="col4 pull_left">

    <div class="row title_row">
      <div class="col6 pull_left">
        <div class="row">
          <header>
            <h1>Posts (<%= @posts.count %>)</h1>
            <p>Posts (<%= @posts.count %>)</p>
          </header>
        </div>
        <div class="row">
        <% if current_user?(@user) %>
          <% if not current_user.is_suspended? %>
              <%= link_to "Create New Post", new_post_path, class: "col3 btn_green" %>
          <% end %>  
        <% end %>
        </div>
      </div>
    </div>

    <div id="postArticlesWrapper">
      <% if @user.posts.any? %>
        <%= will_paginate @posts%>
          <%= render @posts %>
        <%= will_paginate @posts%>
      <% end %>
    </div>

  </div>

</section>

