<% provide(:title, @user.name) %>
<section class="wrapper posts">	

	<article class="col4">
    <% if @user.posts.any? %>
    	<header>
        	<h1>Posts (<%= @posts.count %>)</h1>
  			<p>Posts (<%= @posts.count %>)</p>
  		</header>
		  <%= will_paginate @posts%>
      <ul class="posts">
      	<%= render @posts %>
      </ul>
      <%= will_paginate @posts%>
    <% end %>

    <% if current_user?(@user) %>
      <% if not current_user.is_suspended? %>
        <div class="form-actions">
        	<%= link_to "Create New Post", new_post_path, class: "btn_medium" %>
        </div>
      <% end %>  
    <% end %>
  </article>

	<article class="col2">
    <div class="row">
    	<header>
      	<h1><%= @user.name %></h1>
  		</header>
      <%= gravatar_for @user %>
    </div>
    
    <div class="row">
      <!-- ADMIN ONLY FUNCTIONALITY -->
      <% if is_signed_in_and_admin? && !current_user?(@user) %>

        <%if !@user.is_considered_deleted? %>
          <%= link_to "Ban This User", {:controller => :admin, :action => :set_user_status, :id => @user.id, :status => "BAN"}, confirm: "Ban: You sure?" %>
        <% end %>  

        <%if !@user.is_suspended? %>
          <%= link_to "Suspend This User", {:controller => :admin, :action => :set_user_status, :id => @user.id, :status => "SUS"}, confirm: "Suspend: You sure?" %>
        <% end %>  

      <% end %> 
    </div>  

	</article>   

</section>

