<% provide(:title, @user.name) %>
<section id="userPostsWrapper" class="wrapper">

  <div id="user" class="col2 pull_right">

    <div id="userInner" class="row">

      <div class="col2 pull_left">
        <%= image_tag @user.profile_photo_url, :height => "auto", :width => "100%" %>
      </div>

      <div class="col4 pull_right">
        <header>
          <h1><%= @user.name %></h1>
          <h6><%= pluralize(@user.active_post_count, "post") %></h6>
        </header>
      </div>

      <% if is_signed_in_and_admin? && !current_user?(@user) %>
          <div class="row adminActions">
            <!-- ADMIN ONLY FUNCTIONALITY -->

            <% if !@user.is_considered_deleted? %>
                <%= link_to "Ban This User", {:controller => :admin, :action => :set_user_status, :id => @user.id, :status => "BAN"}, confirm: "Ban: You sure?", class: "btn_darkGrey" %>
            <% end %>

            <% if !@user.is_suspended? %>
                <%= link_to "Suspend This User", {:controller => :admin, :action => :set_user_status, :id => @user.id, :status => "SUS"}, confirm: "Suspend: You sure?", class: "btn_darkGrey" %>
            <% end %>

          </div>
      <% end %>

    </div>

  </div>

  <div id="userPosts" class="col4 pull_left">

    <div class="row title_row">
      <div class="col6 pull_left">
        <div class="row">
          <header>
            <% if (signed_in? and params[:id] == current_user.name) or params[:id].blank? %>
                <h1><%= @label %> Posts (<%= @posts.count %>)</h1>
            <% else %>
                <h1><%= params[:id] %>'s Posts (<%= @posts.count %>)</h1>
            <% end %>
          </header>
        </div>
        <% if !@user.has_photo_source? && current_user?(@user) %>
            <%= render 'users/select_photo' %>
        <% end %>

        <% if current_user?(@user) %>
            <div id="createPostAction" class="row">

              <% if not current_user.is_suspended? %>

                  <% if current_user.email_is_verified? %>
                      <div class="row">
                        <div class="col6">
                          <%= link_to "Create New Post", new_post_path, class: "col2 btn_green" %>
                        </div>
                      </div>
                  <% else %>
                      <p><strong><%= current_user.name %></strong>, before you begin posting, we need you to verify your
                        email address.</p>

                      <p>If you haven't recieved an email from us, check your spam folder or you can always have
                        us <%= link_to "resend it.", "/edit_email_for_verification?id=#{current_user.name}" %></p>
                  <% end %>
              <% end %>

            </div>
            <div id="postsFilters" class="row">
              <%= link_to "My Posts", current_user, class: "#{"active" if @label == "My"}" %>
              <%= link_to "Watched Posts", {:controller => :users, :action => :watching}, class: "#{"active" if @label == "Watched"}" %>
            </div>
        <% end %>
      </div>
    </div>

    <div id="postArticlesWrapper">
      <% if @posts.any? %>
          <%= will_paginate @posts %>
          <%= render @posts %>
          <%= will_paginate @posts %>
      <% elsif !@user.posts.any? and !current_user?(@user) %>
          <p><strong><%= @user.name %></strong> has not created any posts yet. Check back soon!</p>
      <% elsif !@user.posts.any? and current_user?(@user) %>
          <% if current_user.email_is_verified? %>
              <% if @label == 'Watched' %>
                  <p>You aren't watching any posts.</p>
              <% else %>
                  <p>You haven't created any posts yet.</p>
              <% end %>
          <% end %>
      <% end %>
    </div>

  </div>

</section>






