<% provide(:title, @user.name) %>
<section class="wrapper posts">	

	<article>
    <% if @user.posts.any? %>
    <header>
      <h1>Posts (<%= @posts.count %>)</h1>
			<p>Posts (<%= @posts.count %>)</p>
		</header>
		
    <ul class="posts">
    	<%= render @posts %>
    </ul>
    <% end %>

    <% if current_user?(@user) %>
    <div class="form-actions">
    	<%= link_to "Create New Post", new_post_path, class: "btn_medium" %>
    </div>
    <% end %>
  </article>

	<article>
  	<header>
    	<h1><%= @user.name %></h1>
		</header>
      <%= gravatar_for @user %>
	</article>

</section>

