<% provide(:title, @user.name) %>
<section class="wrapper posts">	

	<article class="col4">
    <% if @user.posts.any? %>
      <%= will_paginate @posts%>
      <header>
        <h1>Posts (<%= @posts.count %>)</h1>
  			<p>Posts (<%= @posts.count %>)</p>
  		</header>
  		
      <ul class="posts">
      	<%= render @posts %>
      </ul>
      <%= will_paginate @posts%>
    <% end %>

    <% if current_user?(@user) %>
      <% if current_user.status != "suspended"%>
        <div class="form-actions">
        	<%= link_to "Create New Post", new_post_path, class: "btn_medium" %>
        </div>
      <% end %>  
    <% end %>
  </article>

	<article class="col2">
  	<header>
    	<h1><%= @user.name %></h1>
		</header>
      <%= gravatar_for @user %>
	</article>
  <!-- ADMIN ONLY FUNCTIONALITY -->
  <% if is_signed_in_and_admin? && !current_user?(@user) && @user.status != "deleted" %>
      <%= link_to "Delete This User", @user, method: :delete, confirm: "You sure?" %>
  <% end %>    

</section>

