<% provide(:title, @user.name) %>
<div class="row">

  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span8">

    <% if current_user?(@user) %>
    <div class="row">
      <div class="span8">
        <div class="form-actions">
        <section id="post-button-bar">
          <%= link_to "Create Post", new_post_path, class: "btn btn-medium" %>
        </section>  
      </div>
      </div>  
    </div>
    <% end %>

    <div class="row">
      <div class="span8">
        <section id="user-posts">
          <% if @user.posts.any? %>
            <h3>Posts (<%= @posts.count %>)</h3>
            <ol class="posts">
              <%= render @posts %>
            </ol>
            <%= will_paginate @posts %>
          <% end %>
        </section>
      </div>  
    </div>

  </div>

</div>