<% provide(:title, @user.name) %>
<section id="userPostsWrapper" class="wrapper">	

  <div id="user" class="col2 pull_right">

    <div id="userInner" class="row">

      <div class="col2 pull_left">
        <%= image_tag @user.profile_photo_url, :height => "auto", :width => "100%" %>
      </div>

      <div class="col4 pull_right">
        <header>
          <h1><%= @user.name %></h1>
          <p><%= @user.name %></p>
        </header>
      </div>
      
      <% if is_signed_in_and_admin? && !current_user?(@user) %>
        <div class="row">
        <!-- ADMIN ONLY FUNCTIONALITY -->

          <%if !@user.is_considered_deleted? %>
            <%= link_to "Ban This User", {:controller => :admin, :action => :set_user_status, :id => @user.id, :status => "BAN"}, confirm: "Ban: You sure?" %>
          <% end %>  

          <%if !@user.is_suspended? %>
            <%= link_to "Suspend This User", {:controller => :admin, :action => :set_user_status, :id => @user.id, :status => "SUS"}, confirm: "Suspend: You sure?" %>
          <% end %>  

        </div>
      <% end %> 

    </div>

  </div>

  <div id="userPosts" class="col4 pull_left">

    <div class="row title_row">
      <div class="col6 pull_left">
        <div class="row">
          <header>
            <h1>Posts (<%= @posts.count %>)</h1>
            <p>Posts (<%= @posts.count %>)</p>
          </header>
        </div>
        <% if !@user.has_photo_source? && current_user?(@user) %>
          <%= render 'users/select_photo' %>
        <% end %>
        <div id="createPostAction" class="row">
        <% if current_user?(@user) %>
          <% if not current_user.is_suspended? %>
              <%= link_to "Create New Post", new_post_path, class: "col2 btn_green" %>
          <% end %>  
        <% end %>
        </div>
      </div>
    </div>

    <div id="postArticlesWrapper">
      <% if @user.posts.any? %>
        <%= will_paginate @posts%>
          <%= render @posts %>
        <%= will_paginate @posts%>
      <% elsif !@user.posts.any? and !current_user?(@user) %>
        <p><strong><%= @user.name %></strong> has not created any posts yet. Check back soon!</p>
      <% elsif !@user.posts.any? and current_user?(@user) %>
        <p><strong><%= @user.name %></strong>, you haven't created any posts yet.
      <% end %>
    </div>

  </div>

</section>

