<%= form_for @post do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <fieldset>
      <legend>
        Create a new post.
      </legend>
      <div class="clearfix-placeholder"></div>
      <div class="control-group">
        <%= f.label :hashtag_prefix, "Your item", class: "control-label", for: "post_hashtag_prefix" %>
        <div class="controls">
          <div class="input-append">
            <%= f.text_field :hashtag_prefix, class: "input-large", placeholder: "#" %>
            <span class="add-on">forsale</span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :content, "Quick description", class: "control-label", for: "post_content" %>
        <div class="controls">
          <%= f.text_area :content, class: "input-xlarge", rows: "3", placeholder: "Something short and sweet..." %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :price, class: "control-label", for: "post_price" %>
        <div class="controls">
          <div class="input-append">
            <%= f.text_field :price, class: "input-large" %>
            <span class="add-on">.00</span>
          </div>
        </div>
      </div>
      <div id="photoControlGroup" class="control-group">
        <%= f.label :photo, "Item Photo (optional)", class: "control-label", for: "post_photo" %>
        <div class="controls">
          <%= f.file_field :photo, style: "position:absolute; top:-999px; left:-999px" %>
          <a href="#" id="fileSelect">Select a photo</a>
        </div>
      </div>

      <div class="form-actions">
        <span>Select Twitter accounts to post on</span><br/>
        <%= check_box_tag "twitter_accounts[0]", 'post', true %> Slinggit<br/>
        <% @twitter_accounts.each do |twitter_account| %>
            <%= check_box_tag "twitter_accounts[#{twitter_account.id}]", 'post', true %> <%= twitter_account.user_name %><br/>
        <% end %><br/><br/>
        <%= f.submit "Post Item", class: "btn btn-medium btn-primary" %>
      </div>
    </fieldset>
<% end %>
