<article>
<header>  	
	<h1>Create a post:</h1>
	<p>Create a post:</p>
</header>
<%= form_for @post do |f| %>

      <fieldset>
        <%= f.label :hashtag_prefix, "Your item", class: "", for: "post_hashtag_prefix" %>
          <div class="input-append">
            <%= f.text_field :hashtag_prefix, class: "hardEdge-right form_singleLine", placeholder: "#", maxLength: "10" %>
            <span class="add-on">forsale</span>
          </div>
      </fieldset>

	    <fieldset class="col_oneThird">
        <%= f.label :price, class: "", for: "post_price" %>
          <div class="input-append">
            <%= f.text_field :price, class: "hardEdge-right form_singleLine", id: "post_price", placeholder: "$", maxLength: "5" %>
            <span class="add-on hardEdge-left">.00</span>
          </div>
	    </fieldset>

      <fieldset class="col_twoThird">
        <%= f.label :location, "Location", class: "", for: "post_hashtag_prefix" %>
        <%= f.text_field :location, class: "form_singleLine", placeholder: "City, State, or Zip", maxLength: "16" %>
      </fieldset>

      <fieldset>
        <%= f.label :content, "Quick description", class: "", for: "post_content" %>
        <%= f.text_area :content, class: "form_singleLine", rows: "3", placeholder: "more #hashtags, a succinct description, maybe @someone to sling at" %>
      </fieldset>

      <fieldset id="photoControlGroup" class="col_oneThird">
        <%= f.label :photo, "Item Photo (optional)", class: "", for: "post_photo" %>
        <div class="controls thumbnail">
          <%= f.file_field :photo, style: "position:absolute; top:-999px; left:-999px" %>
          <a href="#" id="fileSelect">Select a photo</a>
        </div>
      </fieldset>

      <fieldset class="col_twoThird">
        <span>Twitter account(s) to post to:</span>
        <%= check_box_tag "twitter_accounts[0]", 'post', true %>Slinggit
        <% @twitter_accounts.each do |twitter_account| %>
            <%= check_box_tag "twitter_accounts[#{twitter_account.id}]", 'post', true %> <%= twitter_account.user_name %>
        <% end %>
	  </fieldset>
        
<%= render 'shared/error_messages', object: f.object %>

		<fieldset>
        	<% if @cant_post %>
          	<div>You have reached your 24 hours post limit.  Please contact customer service if you wish to increase this limit.</div>
            <%= f.submit "Post Item", class: "btn_medium", id: "submitNewPost", disabled: "disabled" %>
        	<% else %>
            <%= f.submit "Post Item", class: "btn_medium", id: "submitNewPost" %>
        	<% end %>
		</fieldset>
<% end %>
</article>