<style type="text/css">
    img.obj {
        width: 300px;
    }

</style>


<%= form_for @post do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
		<section class="wrapper">
      <header>
				<h1>Create a new post.</h1>
				<p>Create a new post.</p>
      </header>

      <fieldset>
        <%= f.label :hashtag_prefix, "Your item", class: "control-label", for: "post_hashtag_prefix" %>
          <div class="input-append">
            <%= f.text_field :hashtag_prefix, class: "form_singleLine hardEdge_right", placeholder: "#" %>
            <span class="add-on">forsale</span>
          </div>
      </fieldset>

      <fieldset>
        <%= f.label :location, "Location", class: "control-label", for: "post_hashtag_prefix" %>
        <%= f.text_field :location, class: "form_singleLine", placeholder: "City, State, or Zip" %>
      </fieldset>

      <fieldset>
        <%= f.label :content, "Quick description", class: "control-label", for: "post_content" %>
        <%= f.text_area :content, class: "input-xlarge", rows: "3", placeholder: "Something short and sweet..." %>
      </fieldset>

      <fieldset>
        <%= f.label :price, class: "control-label", for: "post_price" %>
          <div class="input-append">
            <%= f.text_field :price, class: "form_singleLine hardEdge_right" %>
            <span class="add-on">.00</span>
          </div>
      </fieldset>

      <fieldset id="photoControlGroup" class="control-group">
        <%= f.label :photo, "Item Photo (optional)", class: "control-label", for: "post_photo" %>
        <div class="controls thumbnail">
          <%= f.file_field :photo, style: "position:absolute; top:-999px; left:-999px" %>
          <a href="#" id="fileSelect">Select a photo</a>
        </div>
      </fieldset>

      <fieldset>
        <span>Select Twitter accounts to post on</span>
        <%= check_box_tag "twitter_accounts[0]", 'post', true %> Slinggit<br/>
        <% @twitter_accounts.each do |twitter_account| %>
            <%= check_box_tag "twitter_accounts[#{twitter_account.id}]", 'post', true %> <%= twitter_account.user_name %>
            <br/>
        <% end %>
        <br/><br/>
        <% if @cant_post %>
            <p>You have reached your 24 hours post limit.  Please contact customer service if you wish to increase this limit.</p>
            <%= f.submit "Post Item", class: "btn_medium", id: "submitNewPost", disabled: "disabled" %>
        <% else %>
            <%= f.submit "Post Item", class: "btn_medium", id: "submitNewPost" %>
        <% end %>
      </fieldset>
    </section>
<% end %>
