<div class="span4"> 
  <div class="thumbnail">
    <% if @post.photo_file_name.blank? %>
      <%= image_tag "http://placehold.it/300x300" %>
    <% else %>
      <%= image_tag @post.photo.url(:medium) %>
    <% end %>
  </div>
</div>

<%= form_for(@post) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="span4">

  <div class="control-group">
    <%= f.label :hashtag_prefix, "Your item", class: "control-label", for: "post_hashtag_prefix" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :hashtag_prefix, class: "input-large", placeholder: "#" %>
        <span class="add-on">forsale</span>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :content, "Quick description", class: "control-label", for: "post_content" %>
    <div class="controls">
      <%= f.text_area :content, class: "input-xlarge", rows: "3" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :price, class: "control-label", for: "post_price" %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :price, class: "input-large" %>
        <span class="add-on">.00</span>
      </div>
    </div>
  </div>

</div> <!-- span 4 end --> 

<div class="span8">  
  <div class="form-actions">
    <%= f.submit "Update Post", class: "btn btn-inverse" %>
  </div> 
</div> <!-- span 8 end -->
<% end %>


<!-- Chase, this has to live outside of the other form or this page, however
  it looks pretty bad hangging out down bleow the control div -->

<%= form_for(@post) do |f| %> <!-- begining of nexted form -->
  <% if @post.open? %>
    <%= f.hidden_field :open, value: false %>
    <%= f.submit "Close", class: "btn btn-medium btn-danger pull-right" %>
  <% else %>
    <%= f.hidden_field :open, value: true %>
    <%= f.submit "Reopen", class: "btn btn-medium btn-success pull-right" %> 
  <% end %>
<% end %> <!-- end of form -->