<div class="alert alert-error">
  You cannot edit a closed post.  To edit it, reopen it first.
</div>

<div class="span4"> 
  <div class="thumbnail">
    <% if @post.photo_file_name.blank? %>
      <%= image_tag "http://placehold.it/300x300" %>
    <% else %>
      <%= image_tag @post.photo.url(:medium) %>
    <% end %>
  </div>
</div>

<div class="span4">

  <%= render 'posts/post_sidebar' %>

</div> <!-- span 4 end --> 

<div class="span8">  
  <div class="form-actions">
    <%= form_for(@post) do |f| %>
      <% if @post.open? %>
        <%= f.hidden_field :open, value: false %>
        <%= f.submit "Close", class: "btn btn-medium btn-danger pull-right" %>
      <% else %>
        <%= f.hidden_field :open, value: true %>
        <%= f.submit "Reopen", class: "btn btn-medium btn-success pull-right" %> 
      <% end %>
    <% end %> <!-- end of nested form -->
  </div> 
</div> <!-- span 8 end -->