<dl class="dl-horizontal" style="font-size: 16px;"> <!-- inline style! -->
  <dt>Location:</dt>
  <dd><%= @post.location %></dd>
  <dt>Price:</dt>
  <dd><%= @post.price %></dd>
  <dt>Interested:</dt>
  <dd><%= @post.comments.count('user_id', :distinct => true) %></dd>
  <dt>Status:</dt>
  <dd>
    <% if @post.open? %>
      <span class="label label-success">Open</span>
    <% else %>  
      <span class="label label">Closed</span>
    <% end %>
  </dd>
  <dt>Description</dt>
  <dd><%= @post.content %></dd>
  <dt>
</dl>

<!-- Reply to container -->
<div>
  <% if not @twitter_post.blank? %>
    <p>Reply directly to
      <a href="https://twitter.com/#!/<%= @api_account.user_name %>/status/<%= @twitter_post.twitter_post_id %>" target="_blank">@<%= @api_account.user_name %></a>
    via Twitter</p>  
  <% end %>  

</div>