<div id="postDetails">
  <div class="row contentHeader">
    <div class="innerHeader">
      <h2>The Details</h2>
    </div>  
  </div>  
  <dl class="row" >
    <dt class="col2">Location</dt>
    <dd class="col3"><%= @post.location %></dd>
    <dt class="col2">Price</dt>
    <dd class="col3"><%= @post.price %></dd>
    <dt class="col2">Interested</dt>
    <dd class="col3"><%= @post.comments.count('user_id', :distinct => true) %></dd>
    <dt class="col2">Status</dt>
    <dd class="col3">
      <% if @post.open? %>
        Open
      <% else %>  
        Closed
      <% end %>
    </dd>
    <dt class="col6">Description</dt>
    <dd class="col6"><%= @post.content %></dd>
  </dl>
</div>

<!-- Reply to container -->
<div id="postReply" class="row">
  <div class="row contentHeader">
    <div class="innerHeader">
      <h2>Reply to Seller</h2>
    </div>  
  </div> 
  <% if not @twitter_post.blank? %>
    <p>Reply directly to
      <a href="https://twitter.com/#!/<%= @api_account.user_name %>/status/<%= @twitter_post.twitter_post_id %>" target="_blank">@<%= @api_account.user_name %></a>
    via Twitter</p>  
  <% end %>  

</div>

<div>
  
    <% if current_user?(@user) %>
      <% if current_user.status != "suspended"%>
        <h6 class="pull-right"><%= link_to "edit", edit_post_path(@post), class: "btn" %></h6>
      <% end %> 
    <% end %>

</div>
