<div id="postContolsActions" class="row">

  <div class="row contentHeader">
    <div class="col5 innerHeader">
      <p><strong>Edit post</strong></p>
    </div>  
  </div> 

  <div class="row">
    <% if not current_user.is_suspended? %>

      <div id="closePromptModal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Modal Heading</h3>
        </div>
        <div class-"modal-body">
          <%= form_for(@post) do |f| %>
            <% if @post.open? %>
              <%= f.hidden_field :open, value: false %>
              
                <%= f.button "Archive", type: "submit", class: "col3 btn_blue", confirm: "Are you sure?  This action cannot be undone!" %>
     
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="button-wrapper pull_left col3 first">
        <button class="col6 btn_ltGrey" type="button" id="archivePrompt">
            Archive
        </button>
      </div>

      <div class="button-wrapper pull_right col3 last">
        <%= button_to "Delete", {:controller => :posts, :action => :delete_post, :id => @post.id, :status => "DEL"}, confirm: "Remove Post: You sure?", class: "col6 btn_red" %>
      </div>

    <% else %>
      <div id="notice_explanation_bubble" style="width:100%">
        You are currently in time out.  As a result of this, you cannot edit this post.
      </div>
    <% end %>
  </div>

</div>


<% if (not @twitter_post.blank? and @twitter_post.status == "SUC") or (not @facebook_post.blank? and @facebook_post.status == "SUC")%>
  <div id="networkActions" class="row">
    <div class="row">
      <div class="col5 innerHeader">
        <p>Posted on:</p>
      </div>  
    </div> 

    <% if not @twitter_post.blank? and @twitter_post.status == "SUC" and @post.open? and not @twitter_account.blank? %>
      <div class="row">
        <%= link_to "https://twitter.com/#!/#{@twitter_account.user_name}/status/#{@twitter_post.twitter_post_id}", class: "col6 b", target: "_blank" do %>
          Twitter &rarr;
        <% end %>
      </div>
    <% end %>

     <% if not @facebook_post.blank? and @facebook_post.status == "SUC" and @post.open? and not @facebook_account.blank? %>
      <div class="row">  
       <%= link_to "https://www.facebook.com/#{@facebook_account.user_name}/posts/#{@facebook_truncated_id}", class: "col6 b", target: "_blank" do %>
          Facebook &rarr;
        <% end %>
      </div>
     <% end %>
  </div> 
<% end %> 

<script type="text/javascript">
  $(document).ready(function(){
      window.initPostModal()
  })
</script>