<li class="row">
    <div class="row">

		<div class="col2">
		<%= link_to(post_path(post)) do %>
        	<div class="photo">
          	<% if post.photo_file_name.blank? %>
            	<%= image_tag "80x80_placeholder.png", :height => "auto", :width => "100%" %>
          	<% else %>
            	<%= image_tag post.photo.url(:search) %>
          	<% end %>
        	</div>
		</div>
    
		<div class="col4">
			<h2 class="item"><%= post.hashtag_prefix %></h2>
			<p><%= post.content %></p>
			<% end %>
			<small class="timestamp">Posted <%= time_ago_in_words(post.created_at) %> ago.</small>
			<small class="timestamp">Updated <%= time_ago_in_words(post.updated_at) %> ago.</small>
		</div>
	</div>

	<div class="row">
      <div class="col4 pull_right">
        <% if post.open? %>
          <p class="label label-success">Open</p>
        <% else %>  
          <p class="label label">Closed</p>
        <% end %>  
        <% if current_user?(post.user) %>
          <%= link_to "edit", edit_post_path(post) %>
        <% end %>

        <!-- ADMIN ONLY FUNCTIONALITY -->
        <% if is_signed_in_and_admin? %>
          <%= link_to "DELETE", post, method: :delete, confirm: "You sure?" %>
        <% end %>
      </div>
    </div>
</li>