<div id="postControls">
  <div class="row contentHeader">
    <div class="col5 innerHeader">
      <p><strong>Edit post</strong></p>
    </div>  
  </div> 

  <div id="postContolsActions" class="row">

    <div class="row">
      <% if not current_user.is_suspended? %>

        <%= form_for(@post) do |f| %>
          <% if @post.open? %>
            <%= f.hidden_field :open, value: false %>
            <%= f.button "Close", type: "submit", class: "col6 btn_darkGrey", confirm: "Are you sure?  This action cannot be undone!" %>
          <% end %>
        <% end %>

        <%= link_to "Remove", {:controller => :posts, :action => :delete_post, :id => @post.id, :status => "DEL"}, confirm: "Remove Post: You sure?", class: "col6 btn_red" %>

      <% else %>
        <div id="notice_explanation_bubble" style="width:100%">
          You are currently in time out.  As a result of this, you cannot edit this post.
        </div>
      <% end %>
    </div>

  </div>

  <% if not @twitter_post.blank? and @post.open?%>
    <div class="row">
      <div class="col5 innerHeader">
        <p>View post on:</p>
      </div>  
    </div> 

    <div class="row">
      <%= link_to "https://twitter.com/#!/#{@api_account.user_name}/status/#{@twitter_post.twitter_post_id}", class: "col6 btn_twitter" do %>
         <span class="twitIconSmall"></span>
         Twitter
      <% end %>
    </div>
  <% end %> 
</div>