<article class="row postArticle">
<%= link_to(post_path(post)) do %>
  <div class="col1 pull_left">
    
          <div class="photo">
            <% if post.photo_file_name.blank? %>
              <%= image_tag "noPhoto_80x80.png", :height => "auto", :width => "90%" %>
            <% else %>
              <%= image_tag post.photo.url(:search), class: "img_border" %>
            <% end %>
          </div>
    
  </div>

  <div class="col5 pull_right">

    <div class="row">
      <h4 class="item"><%= post.hashtag_prefix %></h4>
      <p><%= post.content %></p>
    </div>
    
    <div class="row secondary">
      <div class="col5 pull_left">
        <small class="timestamp">Posted <%= time_ago_in_words(post.created_at) %> ago.</small>
      </div>  
      <div class="col1 pull_right">
          <% if post.open? %>
            <span class="label label_green">Open</span>
          <% else %>  
            <span class="label">Closed</span>
          <% end %>  
      </div>
    </div>

    <% if is_signed_in_and_admin? && !current_user?(@user)%>
    <div class="row adminActions">
      <!-- ADMIN ONLY FUNCTIONALITY -->
        <%= link_to "DELETE and SUSPEND USER", {:controller => :admin, :action => :set_post_status, :id => post.id, :status => "DEL", :user_status => "SUS"}, confirm: "Delete Post: You sure?", class: "col2 btn_darkGrey" %>

        <%= link_to "DELETE and BAN USER", {:controller => :admin, :action => :set_post_status, :id => post.id, :status => "DEL", :user_status => "BAN"}, confirm: "Delete Post: You sure?", class: "col2 btn_darkGrey" %> 
    </div>
    <% end %> 

  </div> 
<% end %>
</article>