<div id="postDetails" class="col4 pull_left <%= @post.open_class %>">

  <div id="postDetailInner" class="row">
    <div id="postImageWrapper" class="col3 pull_right">
      <div id="addPhotoControlGroup">
        <!-- if false to prevent this until we want to implement it-->
        <% if false and not @post.has_photo? and signed_in? and @post.user_id == current_user.id %>
            <%= form_for(@additional_photo, :url => url_for(:controller => :additional_photos, :action => :add), :id => 'addImageForm') do |f| %>
                <%= f.file_field :photo, style: "position:absolute; top:-999px; left:-999px" %>
                <%= link_to image_tag('plus_button.png'), '#', :class => 'pull_right', :id => "photoSelect" %>
                <%= hidden_field_tag :post_id, params[:id] %>
            <% end %>
        <% end %>
      </div>
      <% if @post.photo_file_name.blank? %>
          <%= image_tag "noPhoto_300x300.png", :height => "auto", :width => "100%" %>
      <% else %>
          <%= image_tag @post.photo.url(:medium), :class => "img_border", :height => "auto", :width => "100%", :id => 'post_mainImage' %>
      <% end %>
    </div>

    <div id="postInfo" class="col3 pull_left">
      <dl>
        <dt class="col2">Location</dt>
        <dd class="col3"><%= @post.location %></dd>
        <dt class="col2">Price</dt>
        <dd class="col3">$<%= @post.price %></dd>
        <dt class="col2">Interested</dt>
        <dd class="col3"><%= @post.interested %></dd>
      </dl>
    </div>
    <div id="postDescription" class="col3">
      <p class="col6"><%= @post.content %></p>
      <% if signed_in? && !current_user?(@post.user) %>
          <div class="row">
            <% if !current_user.post_in_watch_list?(@post.id) %>
                <%= link_to "Watch", {:controller => :watchedposts, :action => :interested, :post => @post.id}, class: "col2 btn_ltGrey" %>
            <% else %>
                <%= link_to "Unwatch", {:controller => :watchedposts, :action => :uninterested, :post => @post.id}, class: "col2 btn_ltGrey" %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>

  <div id='post_imagePort'></div>
</div>

<script type='text/javascript'>
    $(document).ready(function(){
      window.startPostZoomer()
    })
</script>

<style type='text/css'>
</style>