<%= link_to(post_path(post)) do %>
<li>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  <span class="timestamp">
    Updated <%= time_ago_in_words(post.updated_at) %> ago.
  </span>
  <div class="pull-right">
  <% if post.open? %>
    <span class="label label-success">Open</span>
  <% else %>  
    <span class="label label">Closed</span>
  <% end %>  
  <% if current_user?(post.user) %>
    <%= link_to "edit", edit_post_path(post) %>
  <% end %>
  </div>  
</li>
<% end %>