<% provide(:title, @post.hashtag_prefix) %>
<section id="post" class="wrapper">

	<div id="postContent" class="row">
		<div class="col6">

			<div class="row contentHeader">
				<div class="innerHeader">
					<header class="row">
						<h1><%= @post.hashtag_prefix %></h1>
						<p><%= @post.hashtag_prefix %></p>	  		
					</header>
				</div>	
			</div>	

			<div class="row">
				<%= render 'posts/post_details' %>
				<% if @post.open? %>
					<% if current_user?(@post.user) %>
						<div id="postControlsWrapper" class="col2 pull_right">
							<%= render 'posts/post_controls' %>
							<div id="map_canvas" style="width:100%; height:250px"></div>
						</div>
					<% else %>
						<div id="postReplyWrapper" class="col2 pull_right">
							<%= render 'posts/post_sidebar' %>
							<div id="map_canvas" style="width:100%; height:250px"></div>
						</div>
					<% end %>
				<% else %>
					<div id="closedPostWrapper" class="col2 pull_right">
						<%= render 'posts/post_closed_sidebar' %>
					</div>
				<% end %>
			</div>

		</div> <!-- -->
	</div>

	<div id="comments" class="row">
		<div class="col4 pull_left <%=@post.open_class%>">
			<div id ="commentContent" class="row">
				<div class="col6"> 
					<% if @comments.any? %>
						<h3>Questions to <strong><%= @user.name %></strong></h3>
						<%= render @comments %>
						<%= will_paginate @comments %>
					<% else %>
						<%= render 'posts/post_no_comments' %>
					<% end %>  
				</div>
			</div>
			<% if signed_in? %>
				<div id="commentInput" class="row">	
					<div class="col6"> 
					<%= render 'posts/post_comment_form' %>
					</div>
				</div>
			<% else %>
				<div id="signUpWrapper" class="row">	
					<div class="col6">
						<%= render 'posts/post_comments_signup' %>
					</div>
				</div>
			<% end %>
			
		</div>
	</div>

		
	<% if is_signed_in_and_admin? %>
		<!-- ADMIN ONLY FUNCTIONALITY -->
		<div class="row adminActions">
			<%= link_to "DELETE", @post, method: :delete, confirm: "You sure?" %>
		 </div> 
	<% end %>		

</section>
<script type="text/javascript">
	$(document).ready(function(){
		window.getPostMap("<%= @post.location %>")
	})
</script>




