<% provide(:title, @post.hashtag_prefix) %>
<section class="wrapper posts">

	<header class="row">
		<h1><%= @post.hashtag_prefix %></h1>
		<p><%= @post.hashtag_prefix %></p>	  		
	</header>

	<div class="row">
		<div class="col2">
		<% if @post.photo_file_name.blank? %>
			<%= image_tag "300x300_placeholder.png" %>
		<% else %>
			<%= image_tag @post.photo.url(:medium) %>
		<% end %>
		</div>
		<div class="col3 postSidebar">
			<%= render 'posts/post_sidebar' %>
		</div>
	</div>

	<div class="row">
		<div class="col3">
			<div class="row">
				<%= render 'posts/post_comment_form' %>
			</div>
			<div class="row">
				<% if @comments.any? %>
					<ul class="comments">
						<%= render @comments %>
					</ul>
					<%= will_paginate @comments %>
				<% end %>  
			</div>
		</div>
	</div>

	<div class="row adminActions">
		<!-- ADMIN ONLY FUNCTIONALITY -->
		<% if is_signed_in_and_admin? %>
			<%= link_to "DELETE", @post, method: :delete, confirm: "You sure?" %>
		<% end %>
	 </div> 		

</section>