<% provide(:title, @post.hashtag_prefix) %>
<section class="wrapper posts">
	<header>
		<h1><%= @post.hashtag_prefix %></h1>
		<p><%= @post.hashtag_prefix %></p>
		<% if @user == current_user %>
		<h6 class="pull-right"><%= link_to "edit", edit_post_path(@post), class: "btn" %></h6>
		<% end %>
		<% if current_user.admin? %>
    		<%= link_to "DELETE", @post, method: :delete, confirm: "You sure?" %>
  		<% end %>
	</header>

	<article>
		<div class="col_oneThird">
		<% if @post.photo_file_name.blank? %>
			<%= image_tag "300x300_placeholder.png" %>
		<% else %>
			<%= image_tag @post.photo.url(:medium) %>
		<% end %>
		</div>
		<div class="col_twoThird">
			<%= render 'posts/post_sidebar' %>
		</div>
	</article>

	<article role="complementary">
		<%= render 'posts/post_comment_form' %>
		<% if @comments.any? %>
			<ul class="comments">
				<%= render @comments %>
			</ul>
			<%= will_paginate @comments %>
		<% end %>  
	</article>
</section>