<% provide(:title, @post.hashtag_prefix) %>
<section class="wrapper posts">

	<div id="post" class="row">
		<div class="col6">

			<div class="row contentHeader">
				<div class="innerHeader">
					<header class="row">
						<h1><%= @post.hashtag_prefix %></h1>
						<p><%= @post.hashtag_prefix %></p>	  		
					</header>
				</div>	
			</div>	



			<div class="row postDetails">

				<div class="col4 pull_left">
					<div class="row">
							<div class="col3 pull_right">
									<% if @post.photo_file_name.blank? %>
										<%= image_tag "300x300_placeholder.png" %>
									<% else %>
										<%= image_tag @post.photo.url(:medium), :class => "img_border", :height => "auto", :width => "100%" %>
									<% end %>
								</div>
							<div class="col3 pull_left postInfo">
								 <dl>
								    <dt class="col2">Location</dt>
								    <dd class="col3"><%= @post.location %></dd>
								    <dt class="col2">Price</dt>
								    <dd class="col3"><%= @post.price %></dd>
								    <dt class="col2">Interested</dt>
								    <dd class="col3"><%= @post.comments.count('user_id', :distinct => true) %></dd>
								    <dt class="col2">Status</dt>
								    <dd class="col3">
								      <% if @post.open? %>
								        Open
								      <% else %>  
								        Closed
								      <% end %>
								    </dd>
								</dl>
							</div>
					</div>
					<div class="row">
						<p><strong>Description</strong></p>
				    	<p><%= @post.content %></p>
					</div>	
				</div>
				<div id="postReplyWrapper" class="col2 pull_right">
					<%= render 'posts/post_sidebar' %>
				</div>
			</div>



		</div>
	</div>

	<div class="row">
		<div id="comments" class="col4 pull_left">
			<div class="row">
				<%= render 'posts/post_comment_form' %>
			</div>
			<div class="row">
				<% if @comments.any? %>
					<ul class="comments">
						<%= render @comments %>
					</ul>
					<%= will_paginate @comments %>
				<% end %>  
			</div>
		</div>
	</div>

	<div class="row adminActions">
		<!-- ADMIN ONLY FUNCTIONALITY -->
		<% if is_signed_in_and_admin? %>
			<%= link_to "DELETE", @post, method: :delete, confirm: "You sure?" %>
		<% end %>
	 </div> 		

</section>