<% provide(:title, @post.hashtag_prefix) %>
<section id="post" class="wrapper">

	<div id="postContent" class="row">
		<div class="col6">

			<div class="row contentHeader">
				<div class="innerHeader row">
					<header class="col3 pull_left">
						<h1><%= @post.hashtag_prefix %></h1>
					</header>
					<p id="postStatus" class="col3 <%=@post.open?%> pull_right">
		      			<% if @post.open? %>
		        			Open
		      			<% else %>  
		        			Closed
		      			<% end %>
					</p>	
				</div>	
			</div>	

			<div class="row">
				<%= render 'posts/post_details' %>
				<% if @post.open? %>
					<% if current_user?(@post.user) %>
						<div id="postControlsWrapper" class="col2 pull_right">
							<%= render 'posts/post_controls' %>
						</div>
					<% else %>
						<div id="postReplyWrapper" class="col2 pull_right">
							<%= render 'posts/post_sidebar' %>
						</div>
					<% end %>
				<% else %>
					<div id="closedPostWrapper" class="col2 pull_right">
						<%= render 'posts/post_closed_sidebar' %>
					</div>
				<% end %>
			</div>

		</div> <!-- -->
	</div>

	<div id="comments" class="row">
		<div class="col4 pull_left <%=@post.open_class%>">
			<div id ="commentContent" class="row">
				<div class="col6"> 
					<% if @comments.any? %>
						<h3>Questions to <strong><%= @user.name %></strong></h3>
						<%= render @comments %>
						<%= will_paginate @comments %>
					<% else %>
						<%= render 'posts/post_no_comments' %>
					<% end %>  
				</div>
			</div>
			<% if signed_in? %>
				<div id="commentInput" class="row">	
					<div class="col6"> 
					<%= render 'posts/post_comment_form' %>
					</div>
				</div>
			<% else %>
				<div id="signUpWrapper" class="row">	
					<div class="col6">
						<%= render 'posts/post_comments_signup' %>
					</div>
				</div>
			<% end %>
			
		</div>
	</div>

		
	<% if is_signed_in_and_admin? && !current_user?(@user) %>
		<!-- ADMIN ONLY FUNCTIONALITY -->
		<div class="row margin-top">
			<div class="col4">
				<div class="row">
					<p> Admin </p>
				</div>
				<div class="row adminActions grey_well">

					<%= link_to "DELETE and SUSPEND USER", {:controller => :admin, :action => :set_post_status, :id => @post.id, :status => "DEL", :user_status => "SUS"}, confirm: "Delete Post: You sure?", class: "col2 btn_darkGrey" %>

        			<%= link_to "DELETE and BAN USER", {:controller => :admin, :action => :set_post_status, :id => @post.id, :status => "DEL", :user_status => "BAN"}, confirm: "Delete Post: You sure?", class: "col2 btn_darkGrey" %> 
				</div>
			</div>
		 </div> 
	<% end %>		

</section>




