<footer class="pageFoot">
	<div class="wrapper">
		
		<nav class="col4 pull_left">
			<ul class="row">
				<li class="pull_left">
					<%= link_to "About", about_path %>
				</li>
				<li class="pull_left">
					<%= link_to "Contact", contact_path %>
				</li>
				<li class="pull_left">
					<%= link_to "Help", help_path %>
				</li>
				<!-- <li class="pull_left col1 <%= 'active' if current_page?(sessions_path) %>">
					<%= link_to "Sessions", sessions_path %>
				</li> -->
				<li class="pull_left">
					<%= link_to "Terms", terms_of_service_path %>
				</li>
			</ul>
			
			<ul class="row">
				<li class="pull_left col1">
					<a href="https://twitter.com/slinggit" title="Twitter" class="twitIconSmall_dark" >Twitter</a>
				</li>
				<li class="pull_left col1">
					<a href="https://www.facebook.com/Slinggit" title="Facebook" class="facebookIconSmall">Facebook</a>
				</li>
				<li class="pull_left col1">
					<a href="https://blog.slinggit.com/" title="Blog" class="blogIconSmall">Blog</a>
				</li>
			</ul>		
		</nav>

<div class="col2 pull_right">
    	<div class="row footerSignIn">
      		<% if signed_in? %>
				<%= "#{current_user.email}" %> (<%= link_to "Sign out", signout_path, method: "delete" %>)
      		<% else %>
				<%= link_to "Sign In", signin_path %>
      		<% end %>
		</div>

		<div class="row">
	    	<small class="pull_right">&copy;2012 Slinggit, LLC</small>
			<%= link_to(about_path, :class => "pull_right") do %>
				<span class="coloradoIcon pull_left"></span>
				<span class="pull_left">Built in Denver, CO</span>
			<% end %>
		</div>
</div>
<!-- 
<%= debug(params) if Rails.env.development? %>
-->
	</div>
</footer>