<footer class="pageFoot">
	<div class="wrapper">
		
		<nav class="row">

			<ul class="col4 pull_left">
				<li class="pull_left"><%= link_to "About", about_path %></li>
				<li class="pull_left"><%= link_to "Help", help_path %></li>
				<li class="pull_left"><%= link_to "Contact", contact_path %></li>
				<li class="pull_left <%= 'active' if current_page?(sessions_path) %>"><%= link_to "Sessions", sessions_path %></li>
			</ul>
				
			<ul class="col2 pull_right">
				<li class="pull_right"><a href="https://www.facebook.com/Slinggit" title="Facebook" class="facebookIcon">Facebook</a></li>
				<li class="pull_right"><a href="http://twitter.com/slinggit" title="Twitter" class="twitIcon_dark" >Twitter</a></li>
				<li class="pull_right"><a href="http://blog.slinggit.com/" title="Blog" class="slinggitIcon">Blog</a></li>
			</ul>
			
		</nav>

    	<div class="row footerSignIn">
      		<% if signed_in? %>
				<%= "#{current_user.email}" %> (<%= link_to "Sign out", signout_path, method: "delete" %>)
      		<% else %>
				<%= link_to "Sign In", signin_path %>
      		<% end %>
		</div>

		<div class="row">
			<%= link_to(about_path, :class => "pull_right") do %>
				<span class="coloradoIcon pull_left"></span>
				<span class="pull_left">Built in Denver, CO</span>
			<% end %>
			
	    	<small class="pull_left">&copy;2012 slinggit llc</small>
		</div>

<!-- <%= debug(params) if Rails.env.development? %> -->

	</div>
</footer>