<header>
  <div class="wrapper">
    	<hgroup class="logo">
      	<h1>Slinggit</h1>
      	<%= link_to image_tag("images/logos/logo_grey_hinted_320x120.png", :width => "100%", :height => "auto", :title => "Slinggit Logo Grey", :alt => "Slinggit Logo"), :action => 'home', :controller => 'static_pages' %>
      	<h6>beta</h6>
    	</hgroup>
			
    	<nav>
      	<div id="quickSearchWrapper">
        	<%= text_field_tag :quickSearch, nil, :placeholder => 'Quick Search', :name => 'quickSearch', :size => 'auto' %>
      	</div>
      	<% if signed_in? %>
        <div class="head_aside <%= 'active' if current_page?(current_user) %>">
					<%= link_to "Posts", current_user %>
        </div>
        <% if current_user.is_admin? %>
        <div class="head_aside <%= 'active' if current_page?(users_path) %>">
        	<%= link_to "Admin", admin_path %>
        </div>
        <% end %>
        <!-- DROP DOWN -->
        <div id="accountDropDown" class="head_aside dropdown <%= 'active' if current_page?(current_user) || current_page?(edit_user_path(current_user)) %>">
            <span class="BTN_nav_dropDown dropdown-toggle" data-toggle="dropdown">Settings &raquo;</span>

            <ul class="nav_dropDown dropdown-menu">
              <li class="<%= 'active' if current_page?(edit_user_path(current_user)) %>">
                <%= link_to "Profile", edit_user_path(current_user) %>
              </li>
              <li class="<%= 'active' if current_page?(networks_path) %>">
                <%= link_to "Twitter Accounts", networks_path %>
              </li>
              <li>
                <%= link_to "Sign Out", signout_path, method: "delete" %>
              </li>
            </ul>

          </div>
          <!-- END -->
      <% else %>
          <% if current_page?(signin_path) %>
              <div class="head_aside">
                <% if invite_only? %>
                    <%= link_to "Request Invitation", :controller => :users, :action => :request_invitation %>
                <% else %>
                    <%= link_to "Sign Up", signup_path %>
                <% end %>
              </div>
          <% else %>
              <div class="head_aside">
                <%= link_to "Sign In", signin_path %>
              </div>
              <div class="head_aside">
                <% if invite_only? %>
                    <%= link_to "Request Invitation", :controller => :users, :action => :request_invitation %>
                <% else %>
                    <%= link_to "Sign Up", signup_path %>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </nav>
  </div>
</header>

<script type="text/javascript">
    $(document).ready(function () {
        $('#BTN_nav_dropDown').dropdown()
        window.quickSearchView()
    });
</script>