<header>
	<div class="wrapper">
		<hgroup class="logo">
			<h1>Slinggit</h1>
			<%= link_to image_tag("images/logos/logo_grey_hinted_320x120.png", :width=>"100%", :height=>"auto", :title=>"Slinggit Logo Grey", :alt=>"Slinggit Logo" ), :action => 'home', :controller => 'static_pages' %>
			<h6>beta</h6>
		</hgroup>
		<nav>
			  <span class="<%= 'active' if current_page?(root_path) %>">
			    <%= link_to "Home", root_path %>
			  </span>
			  <% if signed_in? %>
			      <% if current_user.admin? %>
			          <span class="<%= 'active' if current_page?(users_path) %>">
			            <%= link_to "Users", users_path %>
			          </span>
			      <% end %>
			<!-- DROP DOWN -->
				<div id="accountDropDown" class="dropdown <%= 'active' if current_page?(current_user) || current_page?(edit_user_path(current_user)) %>">
			  	<span class="BTN_nav_dropDown" data-toggle="dropdown">Account &raquo;</span>
			
			        <ul class="nav_dropDown">
			          <li class="<%= 'active' if current_page?(current_user) %>">
			            <%= link_to "Posts", current_user %>
			          </li>
			          <li class="<%= 'active' if current_page?(edit_user_path(current_user)) %>">
			            <%= link_to "Profile", edit_user_path(current_user) %>
			          </li>
			          <li class="<%= 'active' if current_page?(networks_path) %>">
			            <%= link_to "Twitter Accounts", networks_path %>
			          </li>
			          <li class="<%= 'active' if current_page?(sessions_path) %>">
			            <%= link_to "Mobile Sessions", sessions_path %>
			          </li>
			          <li class="divider"></li>
			          <li>
			            <%= link_to "Sign out", signout_path, method: "delete" %>
			          </li>
			        </ul>
			
				</div>
			<!-- END -->
			  <% else %>
			  <span class="<%= 'active' if current_page?(signin_path) %>">
			  	<%= link_to "Sign in", signin_path %>
			  </span>
			  <% end %>
			  <%= text_field_tag :quickSearch, nil, :placeholder => 'Quick Search', :name => 'quickSearch', :size => 'auto' %>
		</nav>
	</div>
</header>

<script type="text/javascript">

    $(document).ready(function () {
        $('#quickSearch').keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault();
                document.location.href = "/posts/results/" + $('#quickSearch').val();
            }
        });
    });

</script>

<script type="text/javascript">
// level one
(function(){
	// level two
	var DropDown = (function(){
		// level three
		var initialize = function(){
			_hideObjects();
			_setListeners();
		}
		//hide the drop down list
		var _hideObjects = function(){
			// level four
			$('.nav_dropDown').css('display','none');
		}
		//set listeners to show drop down
		var _setListeners = function(){
			// level four
			$('.BTN_nav_dropDown').click(function(){				
				$('.nav_dropDown').slideDown();
			});
			//$('.BTN_nav_dropDown').click{
			//	if($('.nav_dropDown').css('display', 'none');){
			//		$(this).css('display', 'block');
			//	}
			//}
		}
		return {init: initialize}
	}());

	this.DropDown = DropDown}).call(this);

$(document).ready(function(){
		DropDown.init()
});
</script>