<header>
  <div class="row wrapper">
    	<hgroup class="col2 pull_left">
      		<h1>Slinggit</h1>
      		<%= link_to image_tag("images/logos/logo_grey_hinted_320x120.png", width: "100%", height: "auto", title: "Slinggit Logo Grey", alt: "Slinggit Logo", class: "col4 pull_left"), :action => 'home', :controller => 'static_pages' %>
      		<h6 class="col2 pull_right">beta</h6>
    	</hgroup>

    	<nav class="col4 pull_right">
      		<div class="row">
				<div class="col3 offset3" id="quickSearchWrapper">
        			<%= text_field_tag :quickSearch, nil, :placeholder => 'Quick Search', :name => 'quickSearch', :size => 'auto' %>
				</div>
      		</div>
      	<% if signed_in? %>
			<div class="row">
				<div class="col3 offset3">
					<div class="row">
        					<div class="col3 pull_left head_aside <%= 'active' if current_page?(current_user) %>">
								<%= link_to "Posts", current_user %>
        					</div>
        					<% if current_user.is_admin? %>
        					<div class="col3 pull_left head_aside <%= 'active' if current_page?(users_path) %>">
        						<%= link_to "Admin", admin_path %>
        					</div>
						</div>
        			<% end %>
        		<!-- DROP DOWN -->
        				<div id="accountDropDown" class="col3 pull_right head_aside dropdown <%= 'active' if current_page?(current_user) || current_page?(edit_user_path(current_user)) %>">
            				<span class="BTN_nav_dropDown dropdown-toggle" data-toggle="dropdown">Settings &raquo;</span>
            					<ul class="nav_dropDown dropdown-menu">
              						<li class="<%= 'active' if current_page?(edit_user_path(current_user)) %>">
                						<%= link_to "Profile", edit_user_path(current_user) %>
              						</li>
              						<li class="<%= 'active' if current_page?(networks_path) %>">
                						<%= link_to "Twitter Accounts", networks_path %>
              						</li>
              						<li>
                						<%= link_to "Messages", messages_path %>
              						</li>
              						<li>
                						<%= link_to "Sign Out", signout_path, method: "delete" %>
              						</li>
            					</ul>
          				</div>
          				<!-- END -->
					</div>
				</div>
			</div>
      <% else %>
          <% if current_page?(signin_path) %>
			<div class="row">
				<div class="col3 offset3 head_aside">
                	<% if invite_only? %>
                    	<%= link_to "Request Invitation", :controller => :users, :action => :request_invitation %>
                	<% else %>
                    	<%= link_to "Sign Up", signup_path %>
                	<% end %>
              	</div>
			</div>
          <% else %>
			<div class="row">
              	<div class="col3 pull_left head_aside">
                	<%= link_to "Sign In", signin_path %>
              	</div>
              	<div class="col3 pull_left head_aside">
                <% if invite_only? %>
                   	<%= link_to "Request Invitation", :controller => :users, :action => :request_invitation %>
               	<% else %>
                    <%= link_to "Sign Up", signup_path %>
                <% end %>
              	</div>
			</div>
          <% end %>
      <% end %>
    </nav>
  </div>
</header>

<script type="text/javascript">
    $(document).ready(function () {
        $('#BTN_nav_dropDown').dropdown()
        window.quickSearchView()
    });
</script>