<header id="mainHeader">
  <div class="row wrapper">

<!-- HEADER LOGO -->
    <hgroup class="col2 pull_left">
      <h1>Slinggit</h1>
      <%= link_to image_tag('logos/slinggit_logotype_blue_417x162.png', width: '100%', height: 'auto', title: 'Slinggit Logo blue', alt: 'Slinggit Logo'), {:action => 'home', :controller => 'static_pages'}, class: 'col2 pull_left' %>
      <h6 class="col2 pull_left">beta</h6>
    </hgroup>
<!-- END HEADER LOGO -->


<!-- RIGHT NAV GROUP -->
    <nav class="col4 pull_right">

<!-- QUICK SEARCH -->
      <div class="row">
        <div class="col3 offset3" id="quickSearchWrapper">
          <span class="btn_navSearch"></span>
					<label class="row quickSearchLabel" for="quickSearch">Search</label>
          <%= text_field_tag :quickSearch, nil, :placeholder => 'Quick Search', :name => 'quickSearch', :size => 'auto' %>
        </div>
      </div>
<!-- END QUICK SEARCH -->

<!-- NAV BUTTONS WRAPPER -->
      <% if signed_in? %>
          <div class="row">
            <div class="col3 offset3">
              <div class="row">
	
<!-- POSTS -->	
                	<div class="col2 pull_left <%= 'active' if current_page?(current_user) %>">
                  	<span class="btn_navPosts"></span>
                  	<%= link_to "Posts", current_user %>
                	</div>
<!-- END POSTS -->

<!-- MESSAGES -->
									<div class="col2 pull_left">
                  	<span class="btn_navMessages <%= 'active' if current_page?(current_user) %>"></span>
                  	<%= link_to "Messages #{(count = Message.count(:conditions => ['recipient_user_id = ? AND status = ?', current_user.id, STATUS_UNREAD])) > 0 ? '(' + count.to_s + ')' : ''}", messages_path %>
                	</div>
<!-- END MESSAGES -->

<!-- DROP DOWN -->
                	<div id="accountDropDown" class="col2 pull_right dropdown <%= 'active' if current_page?(current_user) || current_page?(edit_user_path(current_user)) %>">
                  	<span class="btn_navSettings"></span>
                  	<span class="BTN_nav_dropDown dropdown-toggle" data-toggle="dropdown">Settings</span>
                  	
										<ul class="nav_dropDown dropdown-menu">	
											<li class="<%= 'active' if current_page?(edit_user_path(current_user)) %>">
                      	<%= link_to "Profile", edit_user_path(current_user) %>
                    	</li>
                    	
											<li class="<%= 'active' if current_page?(networks_path) %>">
                      	<%= link_to "Social Networks", networks_path %>
                    	</li>
                    	
											<li>
                      	<%= link_to "Sign Out", signout_path, method: "delete" %>
                    	</li>

											<% if current_user.is_admin? %>
                      <li class="<%= 'active' if current_page?(users_path) %>">
                      	<%= link_to "Admin", admin_path %>
                      </li>
                    	<% end %>
                  	</ul>
                	</div>
<!-- END DROP DOWN -->


              </div>
            </div>
          </div>
<!-- END BUTTON WRAPPER -->

<!-- ELSE IF signed_in? -->
      <% else %>
        <div class="row" id="header_signIn">
            <div class="offset2 col2">
              <%= link_to "Sign In", signin_path %>
            </div>
        </div>
      <% end %>
<!-- END ELSE IF -->

    </nav>
<!-- END RIGHT NAV GROUP -->
  </div>
<!-- END ROW WRAPPER -->
</header>
<!-- END HEADER -->

<script type="text/javascript">

    $(document).ready(function () {
        $('.BTN_nav_dropDown').dropdown()
        window.quickSearchView()
				window.initiHeaderSearch()
    });
</script>














