<header id="mainHeader" class="headerUp row">
  
<div class="row wrapper">
<!-- LOGO -->
    <hgroup class="col2 pull_left">
      <h1>Slinggit</h1>
<%= link_to image_tag('logos/slinggit_logotype_blue_417x162.png', width: '100%', height: 'auto', title: 'Slinggit Logo blue', alt: 'Slinggit Logo'), {:action => 'home', :controller => 'static_pages'}, class: 'row' %>
      <h6>beta</h6>
    </hgroup>
<!-- END LOGO -->

      <% if signed_in? %>

<!-- NAV GROUP -->
    <nav class="col4 pull_left">
<!-- NAV BUTTONS WRAPPER -->
              <div class="row">
<!-- POSTS -->	
				<%= link_to current_user, class: "col2 pull_left #{'active' if current_page?(current_user)}" do %>
					<span class="btn_navPosts"></span>
					Posts
				<% end %>
<!-- END POSTS -->

<!-- MESSAGES -->
				<%= link_to messages_path, class: "col2 pull_left #{'active' if current_page?(current_user)}" do %>
					<span class="btn_navMessages"></span>
					<%= "Messages#{(count = Message.count(:conditions => ['recipient_user_id = ? AND status = ?', current_user.id, STATUS_UNREAD])) > 0 ? ': ' + count.to_s + '' : ''}" %>
				<% end %>
<!-- END MESSAGES -->

<!-- SEARCH ICON -->
				<div class="col2 pull_left quickSearchLabel">
					<span class="btn_navSearch"></span>
					<span>Search</span>
				</div>
<!-- END SEARCH ICON -->

<!-- DROP DOWN -->
				<div id="accountDropDown" class="dropdown col2 pull_left #{'active' if current_page?(current_user)} || current_page?(edit_user_path(current_user)) %>">
					
					<div class="dropdown-toggle" data-toggle="dropdown">
						<span class="btn_navSettings"></span>
						Settings
					</div>
					
					<ul class="nav_dropDown dropdown-menu">	
						<li class="<%= 'active' if current_page?(edit_user_path(current_user)) %>">
                      		<%= link_to "Profile", edit_user_path(current_user) %>
                    	</li>
                    	
						<li class="<%= 'active' if current_page?(networks_path) %>">
							<%= link_to "Social Networks", networks_path %>
                    	</li>
                    	
						<li>
                      		<%= link_to "Sign Out", signout_path, method: "delete" %>
                    	</li>

						<% if current_user.is_admin? %>
							<li class="<%= 'active' if current_page?(users_path) %>">
							<%= link_to "Admin", admin_dashboard_path %>
							</li>
						<% end %>
                  	</ul>
                </div>
<!-- END DROP DOWN -->
              </div>
<!-- END BUTTON WRAPPER -->
    </nav>
<!-- END RIGHT NAV GROUP -->

<!-- ELSE IF signed_in? -->
      <% else %>
        <div class="row" id="header_signIn">
            <div class="offset5 col1">
              <%= link_to "Sign In", signin_path %>
            </div>
        </div>
      <% end %>
<!-- END ELSE IF -->
  </div>
<!-- END ROW WRAPPER -->

<!-- QUICK SEARCH -->
      <div class="row" id="quickSearchWrapper">
        <div class="col3 pull_right">
			<span class="btn_navSearch"></span>
          <%= text_field_tag :quickSearch, nil, :placeholder => 'Quick Search', :name => 'quickSearch', :size => 'auto' %>
        </div>
      </div>
<!-- END QUICK SEARCH -->

</header>
<!-- END HEADER -->

<script type="text/javascript">
    $(document).ready(function () {
        $('.BTN_nav_dropDown').dropdown()
        window.quickSearchView()
				window.initiHeaderSearch()
    });
</script>